.header-main {
    .navbar {
        box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.05);
    }
    .navbar-top {
        background: linear-gradient(78.64deg, #14B89E 1.25%, #14B89E 76.34%);
        padding: 8px 0;
        .navbar-contact-list {
            display: flex;
            .navbar-contact-item {
                padding-right: 40px;
                display: flex;
                align-items: center;
                .contact {
                    @include text($color-2, 600, 17, true);
                    font-family: $font_family-second2;
                    padding: 0 10px;
                }
                .contact-more-info {
                    @include text($color-2, 400, 17);
                    font-family: $font_family-second2;
                }
            }
        }
        .lang-select {
            display: flex;
            .lang-select-item {
                padding-left: 24px;
                .lang-select-link {
                    @include text($color-2, 500, 16, true);
                    position: relative;
                    padding: 0 2px;
                    &.active::after {
                        content: "";
                        width: 100%;
                        height: 4px;
                        background-color: $color-2;
                        position: absolute;
                        left: 0;
                        bottom: -6px;
                    }
                    &:hover {
                        opacity: .6;
                    }
                }
            }
        }
    }
    .navbar-toggler {
        border-color: $color-1;
    }
    .navbar-toggler:focus {
        box-shadow: 0 0 0 0.25rem $color-1;
    }
    .navbar-nav {
        .nav-item {
            padding-right: 16px;
            padding-left: 16px;
            button {
                margin: 10px 0;
            }
            &:last-child {
                padding-right: 0;
            }
            .nav-link {
                @include text(null, 300, 20);
                text-transform: uppercase;
                font-family: $font_family-second1;
                letter-spacing: 1px;
                &:hover {
                    color: $color-4 !important;
                }
                &.active {
                    color: $color-1 !important;
                }
            }
        }
    }
    .navbar-top-mobile {
        position: relative;
        left: -0.75rem;
        width: calc(100% + 0.75rem * 2);
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        display: none;
        .navbar-contact-list {
            display: flex !important;
            flex-direction: column;
            align-items: center;
            .navbar-contact-item {
                padding: 10px 0;
                flex-wrap: wrap;
                justify-content: center;
            }
        }
    }
    .header-img {
        background: url(../images/bg/img_header.png);
        background-repeat: no-repeat;
        background-size: cover;
        .slick-header {
            width: 540px;
            padding: 140px 0;
            .slider-item {
                .slider-item-title {
                    @include text(null, 700, 55);
                    font-family: $font_family-second1;
                    text-transform: uppercase;
                    line-height: remTransform(66);
                }
                .slider-item-title-secondary {
                    @include text($color-1, 700, 22);
                    margin: 30px 0 20px 0;
                }
                .slider-item-text {
                    @include text(null, 400, 14);
                    margin: 0;
                }
            }
        }
    }
    .header-alter-img {
        background-image: url(/images/bg/img_header-opacity.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 14px 0;
        .header-title {
            @include text(null, 700, 55);
            font-family: $font_family-second1;
            text-transform: uppercase;
            padding: 60px 0;
        }
    }
}

@media (max-width: 1399px) {
    .header-main {
        .navbar-nav {
            .nav-item {
                padding-right: 4px;
                padding-left: 4px;
                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }
}

@media (max-width: 1199px) {
    .header-main {
        .navbar-top {
            &>* {
                justify-content: flex-end !important;
            }
            .navbar-contact-list {
                display: none;
            }
        }
        .navbar-nav {
            .nav-item {
                padding-right: 0;
            }
        }
        .navbar-top-mobile {
            display: block;
        }
    }
}

@media (max-width: 575px) {
    .header-main {
        .header-img {
            .slick-header {
                width: 100%;
                .slider-item-title {
                    font-size: 2rem !important;
                    line-height: initial !important;
                }
            }
        }
        .header-alter-img {
            .header-title {
                font-size: 2.4rem;
            }
        }
    }
}