.main-alter {
    .main-alter-about {
        padding: 40px 0;
        border-bottom: 1px solid $color-4;
        .main-alter-about-title {
            @include text(null, 600, 36);
            font-family: $font_family-second2;
            margin-bottom: 30px;
            text-transform: uppercase;
        }
        .main-alter-about-text {
            @include text(null, 400, 16);
        }
        .main-alter-about-wrapper {
            padding: 50px 50px 24px 50px;
            border-radius: 6px;
            background: linear-gradient(297.95deg, rgba(232, 232, 232, 0.4) -1.79%, rgba(245, 245, 245, 0.4) 83.69%);
            .alter-about-wrapper-video {
                border-radius: 6px;
                overflow: hidden;
                display: flex;
                margin-bottom: 50px;
                video {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    min-height: 320px;
                }
            }
            .alter-about-wrapper-title {
                @include text($color-8, 600, 19);
                margin-bottom: 6px;
            }
            .alter-about-wrapper-text {
                @include text(null, 400, 16);
                margin-bottom: 16px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .main-services {
        padding: 30px 0;
        .main-services-title {
            @include text(null, 600, 36);
            font-family: $font_family-second2;
            margin-bottom: 32px;
            text-transform: uppercase;
        }
        .main-services-text {
            @include text(null, 400, 16);
            margin-bottom: 16px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .main-call-us-resonance {
        .container-right-full {
            background: linear-gradient(90deg, #3AB795 37.57%, rgba(58, 183, 149, 0) 105.85%);
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 0;
            .container-xxxl {
                margin-left: 0;
                .main-call-us-title {
                    @include text($color-2, 600, 36);
                    font-family: $font_family-second2;
                    text-transform: uppercase;
                    line-height: remTransform(44);
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    padding-left: 40px;
                }
            }
        }
    }
    .main-investigation {
        .container-right-full {
            background: $color-text;
            padding-top: 50px;
            padding-bottom: 50px;
            padding-left: 0;
            .container-xxxl {
                margin-left: 0;
               .main-investigation-list {
                   padding-left: 40px;
                   .main-investigation-item {
                       padding: 10px 0;
                       &:first-child {
                           padding-top: 0;
                       }
                       &:last-child {
                        padding-bottom: 0;
                       }
                       a {
                           @include text($color-2, 600, 18, true);
                           font-family: $font_family-second2;
                           padding-right: 4rem;
                           &.active {
                               border-bottom: 1px solid $color-1;
                           }
                           &:hover:not(.active) {
                               color: $color-1 !important;
                           }
                       }
                   }
               }
               .main-investigation-title {
                @include text($color-2, 600, 36);
                font-family: $font_family-second2;
                margin-bottom: 32px;
               }
               .main-investigation-text {
                @include text($color-2, 400, 16);
                margin-bottom: 1rem;
                &:last-child {
                    margin-bottom: 0;
                }
               }
               .main-investigation-img-list {
                   .main-investigation-img-wrapper {
                       margin-bottom: 30px;
                       border-radius: 6px;
                       overflow: hidden;
                       &:last-child {
                        margin-bottom: 0;
                       }
                       img {
                           width: 100%;
                           height: 100%;
                           object-fit: cover;
                       }
                   }
               }
            }
        }
    }
    .main-biography {
        border-bottom: 1px solid $color-4;
        .main-biography-img {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .main-biography-content {
            height: 100%;
            padding: 10px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .main-biography-header {
                display: flex;
                gap: 10px;
                padding-bottom: 32px;
                .main-biography-header-info {
                    width: calc(100% - 55px);
                    .main-biography-header-name {
                        @include text(null, 500, 19);
                        font-family: $font_family-second2;
                        text-transform: uppercase;
                    }
                    .main-biography-type {
                        @include text($color-4, 400, 17);
                        font-family: $font_family-second2;
                    }
                }
            }
            .main-biography-body {
                padding-bottom: 1rem;
                border-bottom: 1px solid $color-4;
                .main-biography-body-text {
                    @include text(null, 400, 16);
                    margin-bottom: 2rem;
                }
            }
            .main-biography-footer {
                padding-top: 1.5rem;
                .main-biography-footer-text {
                    @include text($color-9, 400, 16);
                    font-family: $font_family-second2;
                }
            }
        }
    }
    .main-questionnaire {
        padding: 68px 0 46px 0;
        .main-questionnaire-title {
            @include text(null, 600, 36);
            font-family: $font_family-second2;
            text-transform: uppercase;
            margin-bottom: 46px;
        }
        .main-questionnaire-text {
            @include text(null, 400, 17);
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .main-questionnaire-form {
            .wrapper-btn {
                width: 228px;
                .btn-type-2 {
                    width: 100%;
                    padding: 10px;
                }
            }
        }
    }
    .main-similar-services {
        padding: 64px 0 74px 0;
        border-bottom: 1px solid $color-4;
        .services-partners-img-wrapper {
            img {
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
            }
        }
    }
    .main-contact {
        padding: 42px 0 82px 0;
        .main-contact-title {
            @include text(null, 700, 55);
            font-family: $font_family-second1;
            margin-bottom: 22px;
        }
        .main-contact-text-bold {
            @include text(null, 700, 17);
        }
        .main-contact-text-small {
            @include text(null, 400, 16);
        }
        .contact-card {
            padding: 24px 44px;
            background-color: rgba(20, 184, 158, 0.09);
            border-radius: 10px;
            height: 100%;
            .contact-card-top {
                display: flex;
                align-items: center;
                gap: 20px;
                @include text($color-1, 500, 18);
                font-family: $font_family-second2;
                text-transform: uppercase;
                margin-bottom: 20px;
            }
            .contact-card-bottom {
                @include text(null, 600, 17);
                font-family: $font_family-second2;
                span {
                    font-weight: 400;
                }
            }
        }
    }
    .main-call-us {
        background: $bg-linear;
        position: relative;
        min-height: 520px;
        .container-xxxl {
            position: static;
        }
        .main-call-us-content {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 30px 0;
            .main-call-us-title {
                @include text(null, 600, 36);
                font-family: $font_family-second2;
                text-transform: uppercase;
                margin-bottom: 14px;
            }
            .main-call-us-text {
                @include text(null, 400, 16);
                margin-bottom: 56px;
            }
            .main-call-us-form {
                .wrapper-btn {
                    width: 226px;
                    margin-top: 56px;
                    .btn-type-2 {
                        width: 100%;
                        padding: 14px;
                    }
                }
            }
        }
        .main-call-us-map {
            height: 100%;
            position: absolute;
            right: 0;
            width: 49.2%;
            min-height: 520px;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .main-about-header {
        padding: 42px 0 100px 0;
        p:last-child {
            margin-bottom: 0;
        }
        .main-about-header-title {
            @include text(null, 700, 55);
            font-family: $font_family-second1;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
        .main-about-header-text-bold {
            @include text(null, 700, 15);
            margin-bottom: 20px;
        }
        .main-about-header-text {
            @include text(null, 400, 16);
            margin-bottom: 20px;
        }
        .main-about-header-img {
            border-radius: 6px;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .main-about-property {
        padding: 82px 0;
        border-top: 1px solid $color-4;
        border-bottom: 1px solid $color-4;
        .main-about-property-title {
            @include text(null, 600, 36);
            font-family: $font_family-second2;
            margin-bottom: 42px;
            text-transform: uppercase;
        }
        .main-about-property-card {
            .main-about-property-header {
                @include text($color-1, 600, 20);
                font-family: $font_family-second2;
                text-transform: uppercase;
                margin-bottom: 1rem;
            }
            .main-about-property-body {
                .main-about-property-body-text {
                    @include text(null, 400, 16);
                }
            }
        }
    }
    .main-medical-team {
        padding: 60px 0 100px 0;
        .main-medical-team-title {
            @include text(null, 600, 36);
            font-family: $font_family-second2;
            margin-bottom: 42px;
            text-transform: uppercase;
        }
        .main-medical-team-slider {
            margin: 0 -6px;
            .main-medical-team-item {
                padding: 0 6px;
                .main-medical-team-wrapper {
                    .main-medical-team-img {
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .main-medical-team-name {
                        @include text(null, 500, 17);
                        text-transform: uppercase;
                        font-family: $font_family-second2;
                        margin-top: 20px;
                    }
                    .main-medical-team-position {
                        @include text($color-12, 400, 17);
                        font-family: $font_family-second2;
                        margin-top: 6px;
                    }
                }
            }
            .slick-dots {
                justify-content: center;
            }
        }
    }
    .main-about-footer {
        padding: 80px 0;
        background: $bg-linear;
        .main-about-footer-slider {
            margin: 0 -6px;
            .main-about-footer-item {
                padding: 0 6px;
                .main-about-footer-img {
                    border-radius: 6px;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
            .slick-dots {
                justify-content: center;
                margin-top: 56px;
            }
        }
        .main-about-footer-title {
            @include text(null, 600, 20);
            font-family: $font_family-second2;
            text-transform: uppercase;
            margin-bottom: 26px;
        }
        .main-about-footer-text {
            @include text(null, 400, 16);
            margin-bottom: 26px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .main-blog {
        padding: 42px 0 72px 0;
        .main-blog-title {
            @include text(null, 700, 55);
            font-family: $font_family-second1;
            text-transform: uppercase;
            margin-bottom: 52px;
        }
    }
}

@media (max-width: 1680px) {
    .main-alter {
        .container-right-full {
            .container-xxxl {
                margin: auto !important;
            }
        }
    }
}

@media (max-width: 991px) {
    .main-alter {
        .main-call-us-title, .main-investigation-list {
            padding-left: 0 !important;
        }
        .main-call-us {
            .main-call-us-map {
                position: static !important;
                width: 100%;
            }
        }
    }
}
