.navbar > .container-xxxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.container-xxxl {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 1;
}

@media (min-width: 1402px) {
  .container-xxxl {
    max-width: 1402px !important;
  }
}

@media (min-width: 1202px) {
  .container-xxxl {
    max-width: 1202px;
  }
}

@media (max-width: 767px) {
  .navbar .navbar-content-bottom {
    flex-direction: column;
    margin: 0 !important;
  }
  .navbar-expand > .container-xxxl {
    z-index: 10;
  }
  .navbar.navbar-content {
    display: none;
    padding: 20px;
    position: absolute;
    right: 10px;
    top: 50px;
    background-color: $primary-color;
    border-radius: 6px;
    border: 1px solid $primary-color-text;
    select {
      padding-bottom: 0;
    }
    &.active {
      display: block;
    }
  }
  .navbar-expand .navbar-toggler {
    display: block;
  }
}

// .form-select {
//   background-color: transparent;
//   background-image: url(/images/icon/arrow-down.png);
//   background-size: 7px 7px;
//   // background-position: right 1.5rem bottom .7rem;
//   padding-right: 10px;
//   background-position: right center;
//   color: inherit;
//   border: none;
//   width: auto;
//   padding-top: 8px;
//   padding-bottom: 5px;
//   option {
//     background-color: $primary-color;
//   }
//   &:focus {
//     border-color: none !important;
//     box-shadow: none !important;
//   }
//   &:hover {
//     cursor: pointer;
//   }

// }

.form-check-input[type="radio"] {
  background: $primary-color;
  border: 2px solid white;
  cursor: pointer;
}

.form-check-input:checked[type="radio"] {
  background: $color_2;
}

.form-check-label {
  cursor: pointer;
}

.container-xxxl.row {
  padding: 0;
}

.button {
  background-color: $secondary-color-text;
  color: #fff;
  border-radius: 6px;
  font-weight: 500;
  font-size: 1.25rem;
  border: none;
  transition: 0.2s;
  &:hover {
    background-color: darken($secondary-color-text, 8%) !important;
  }
  &:active {
    box-shadow: inset 0 0 10px lighten($secondary-color-text, 20%),
      cainset 0 0 20px lighten($secondary-color-text, 20%) !important;
  }
}

.range-filter {
  width: 100%;
  height: 4px;
  background-color: $primary-color;
  position: relative;
  margin: 10px 0;
  user-select: none;
  .range-filter-thumb-min {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 4px solid $secondary-color-text;
    border-radius: 100%;
    background-color: $color_4;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
    cursor: e-resize;
  }

  .range-filter-thumb-max {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 4px solid $secondary-color-text;
    border-radius: 100%;
    background-color: $color_4;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: calc(100% - 20px);
    z-index: 1;
    cursor: e-resize;
  }

  .range-filter-track {
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(270deg, #0C30A5 0%, #FF6F32 99.19%);
    top: 0;
  }
}

.pagination-container{
  margin-top: 20px;
  margin-bottom: 50px;
  .pagination {
    padding: 0 16px;
    .page-item {
      .page-link {
        background-color: transparent;
        border: none;
        border-left: 1px solid rgba(255, 255, 255, 0.1);
        border-right: 1px solid rgba(255, 255, 255, 0.1);
        font-size: 1rem;
        font-weight: 400;
        opacity: .5;
        padding: 0 12px;
        &:focus {
          box-shadow: none;
        }
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
