.about-main {
    .about-principal {
        .about-principal-wrapper {
            .about-principal-text {
                margin-top: 40px;
                .about-principal-title {
                    color: $color-primary-text;
                    font-weight: 700;
                    font-size: remTransform(50);
                    margin-bottom: 30px;
                }
                .about-principal-text-high {
                    color: $color-primary-text;
                    font-weight: 600;
                    font-size: remTransform(17);
                }
                .about-principal-text-low {
                    color: $color-primary-text;
                    font-weight: 300;
                    font-size: remTransform(14);
                }
            }
            .about-principal-img {
                border-radius: 5px;
                width: 100%;
                margin-top: 40px;
            }
        }
    }
    .about-decription {
        background-color: $color-primary-3;
        padding: 76px 0;
        margin-top: 90px;
        .about-decription-wrapper {
            background-color: $color-primary-1;
            border-radius: 5px;
            padding: 36px;
            .about-decription-text {
                color: $color-primary-text;
                font-size: remTransform(14);
                font-weight: 400;
                margin-bottom: 30px;
                span {
                    font-weight: 700;
                }
            }
            .about-decription-detail {
                display: flex;
                .about-decription-list {
                    list-style-image: url(../images/icon/icon-list.svg);
                    padding-left: 16px;
                    margin: 0;
                    width: 50%;
                    padding-right: 10px;
                    .about-decription-item {
                        margin-bottom: 30px;
                        .about-decription-item-text {
                            .about-decription-item-title {
                                color: $color-primary-2;
                                font-weight: 700;
                                font-size: remTransform(17);
                            }
                            .about-decription-item-info {
                                color: $color-primary-text;
                                font-weight: 600;
                                font-size: remTransform(17);
                            }
                        }
                    }
                }
                .about-decription-img {
                    width: 50%;
                    padding-left: 10px;
                    img {
                        width: 100%;
                        border-radius: 5px;
                    }
                }
            }
        }
        
    }
    .about-video-description {
        background-color: $color-bg;
        padding: 90px 0;
        .about-video-description-wrapper {
            .about-video-player {
                height: 100%;
                min-height: 400px;
                iframe {
                    border-radius: 5px;
                }
                
            }
            .about-video-text {
                padding: 30px 0;
                .about-video-text-high {
                    color: $color-primary-text;
                    font-weight: 600;
                    font-size: remTransform(18);
                }
                .about-video-text-low {
                    color: $color-primary-text;
                    font-weight: 300;
                    font-size: remTransform(14);
                }
            }
        }
    }
}


@media (max-width:767px) {
    .about-decription-detail {
        flex-direction: column;
        .about-decription-list {
            width: 100% !important;
            padding-right: 0 !important;
        }
        .about-decription-img {
            width: 100% !important;
            padding-left: 0 !important;
        }
    }
}






// list-style-image: url();