@charset "UTF-8";
:root {
  --font-family: 'Montserrat', sans-serif;
  --color-bg: #E5E5E5;
  --color-bg-tr: rgba(106, 106, 106, 0.06);
  --color-secondary: #71BC55;
  --color-1: #FFFFFF;
  --color-2: #323539;
  --color-3: #2580C4;
  --color-4: #D8D8D8;
  --color-5: #6A6A6A;
  --color-6: #FAFAFA;
  --color-7: #EAEAEA;
}

.nice-select {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px #e8e8e8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  height: 42px;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  width: auto;
}

.nice-select:hover {
  border-color: #dbdbdb;
}

.nice-select:active, .nice-select.open, .nice-select:focus {
  border-color: #999;
}

.nice-select:after {
  border-bottom: 2px solid #999;
  border-right: 2px solid #999;
  content: '';
  display: block;
  height: 5px;
  margin-top: -4px;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform-origin: 66% 66%;
          transform-origin: 66% 66%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  width: 5px;
}

.nice-select.open:after {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.nice-select.open .list {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale(1) translateY(0);
          transform: scale(1) translateY(0);
}

.nice-select.disabled {
  border-color: #ededed;
  color: #999;
  pointer-events: none;
}

.nice-select.disabled:after {
  border-color: #cccccc;
}

.nice-select.wide {
  width: 100%;
}

.nice-select.wide .list {
  left: 0 !important;
  right: 0 !important;
}

.nice-select.right {
  float: right;
}

.nice-select.right .list {
  left: auto;
  right: 0;
}

.nice-select.small {
  font-size: 12px;
  height: 36px;
  line-height: 34px;
}

.nice-select.small:after {
  height: 4px;
  width: 4px;
}

.nice-select.small .option {
  line-height: 34px;
  min-height: 34px;
}

.nice-select .list {
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
          box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 4px;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  -webkit-transform: scale(0.75) translateY(-21px);
          transform: scale(0.75) translateY(-21px);
  -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  z-index: 9;
}

.nice-select .list:hover .option:not(:hover) {
  background-color: transparent !important;
}

.nice-select .option {
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  list-style: none;
  min-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  text-align: left;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
  background-color: #f6f6f6;
}

.nice-select .option.selected {
  font-weight: bold;
}

.nice-select .option.disabled {
  background-color: transparent;
  color: #999;
  cursor: default;
}

.no-csspointerevents .nice-select .list {
  display: none;
}

.no-csspointerevents .nice-select.open .list {
  display: block;
}

.container-content {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 1;
}

@media (min-width: 1260px) {
  .container-content {
    max-width: 1230px;
  }
}

.collapsing {
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-transition: none;
  transition: none;
}

.button-primary {
  background-color: var(--color-secondary);
  border-radius: 2px;
  color: var(--color-1);
  font-weight: 800;
  font-size: 0.8125rem;
  padding: 10px 42px;
}

.button-primary:hover {
  background-color: var(--color-1);
  outline: 1px solid var(--color-secondary);
  color: var(--color-secondary);
}

.button-primary:active, .button-primary.nice-select.open {
  background-color: var(--color-secondary);
  color: var(--color-1);
}

.input-form {
  border: 1px solid var(--color-bg);
  border-radius: 2px;
  padding: 12px 22px;
  color: var(--color-2);
  font-weight: 400;
  font-size: 0.8125rem;
}

.input-form::-webkit-input-placeholder {
  color: var(--color-5);
  font-weight: 300;
  font-size: 0.8125rem;
}

.input-form:-ms-input-placeholder {
  color: var(--color-5);
  font-weight: 300;
  font-size: 0.8125rem;
}

.input-form::-ms-input-placeholder {
  color: var(--color-5);
  font-weight: 300;
  font-size: 0.8125rem;
}

.input-form::placeholder {
  color: var(--color-5);
  font-weight: 300;
  font-size: 0.8125rem;
}

.input-form:focus {
  border: 1px solid var(--color-secondary);
  outline: none;
}

.contact-form-wrapper {
  background: var(--color-bg-tr) url(../images/bg/tensgrup.png);
  background-position: right top;
  background-repeat: no-repeat;
  padding: 80px 100px;
}

.contact-form-wrapper .home-contact-form-title {
  color: var(--color-2);
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 25px;
}

.contact-form-wrapper .home-contact-form .input-form {
  width: 100%;
  display: inline-block;
  margin: 12px 0;
}

.input-subscribe {
  background: rgba(255, 255, 255, 0.17);
  border: 1px solid rgba(255, 255, 255, 0.19);
  border-radius: 2px;
  padding: 12px 22px;
  color: var(--color-1);
  font-weight: 500;
  font-size: 0.6875rem;
}

.input-subscribe::-webkit-input-placeholder {
  color: var(--color-1);
  font-weight: 300;
  font-size: 0.6875rem;
}

.input-subscribe:-ms-input-placeholder {
  color: var(--color-1);
  font-weight: 300;
  font-size: 0.6875rem;
}

.input-subscribe::-ms-input-placeholder {
  color: var(--color-1);
  font-weight: 300;
  font-size: 0.6875rem;
}

.input-subscribe::placeholder {
  color: var(--color-1);
  font-weight: 300;
  font-size: 0.6875rem;
}

.input-subscribe:focus {
  border: 1px solid var(--color-1);
  outline: none;
}

.btn-subscribe {
  background-color: var(--color-1);
  border-radius: 2px;
  color: var(--color-3);
  font-weight: 700;
  font-size: 0.8125rem;
  padding: 10px 42px;
}

.btn-subscribe:hover {
  background-color: var(--color-3);
  outline: 1px solid var(--color-1);
  color: var(--color-1);
}

.btn-subscribe:active, .btn-subscribe.nice-select.open {
  background-color: var(--color-1);
  color: var(--color-3);
}

.partners {
  text-align: center;
  padding: 20px 0;
}

.partners .partners-item {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  opacity: .3;
}

.partners .partners-item:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  opacity: 1;
}

.partners .partners-item img {
  width: 178px;
  height: 86px;
  -o-object-fit: cover;
     object-fit: cover;
}

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 10px;
}

.breadcrumbs .crumbs a {
  color: var(--color-2);
  font-weight: 300;
  font-size: 0.625rem;
}

.breadcrumbs .crumbs a::after {
  content: " / ";
  padding: 0 10px;
}

.breadcrumbs .crumbs:last-child a {
  color: var(--color-secondary);
}

.breadcrumbs .crumbs:last-child a::after {
  content: "";
  padding: 0;
}

.banner-double .banner-double-img img {
  width: 100%;
}

.content-show-more {
  text-align: center;
}

.content-show-more .btn-show-more-jobs {
  color: var(--color-secondary);
  font-weight: 700;
  font-size: 0.8125rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-show-more .btn-show-more-jobs .svg-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 6px;
}

.content-show-more .btn-show-more-jobs:hover {
  color: var(--color-2);
}

.content-show-more .btn-show-more-jobs:hover path {
  stroke: var(--color-2);
}

.content-primary-top {
  margin-top: 10px;
}

.content-primary-top .content-primary-top-title {
  color: var(--color-2);
  font-weight: 700;
  font-size: 2.1875rem;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.content-primary-top .content-primary-top-text-bold {
  color: var(--color-2);
  font-weight: 700;
  font-size: 1rem;
}

.content-primary-top .content-primary-top-text-small {
  color: var(--color-2);
  font-weight: 300;
  font-size: 0.8125rem;
  padding-bottom: 20px;
}

.content-primary-top .content-primary-top-text-small-select {
  color: var(--color-2);
  font-weight: 500;
  font-size: 0.8125rem;
  padding: 20px;
  background-color: var(--color-6);
  border-left: 6px solid var(--color-secondary);
}

.content-primary-top .content-primary-top-img {
  text-align: right;
}

.content-primary-top .content-primary-top-img .content-primary-top-img-desktop {
  width: 180px;
  height: 500px;
}

.content-primary-top .content-primary-top-img .content-primary-top-img-mobile {
  display: none;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 991px) {
  .contact-form-wrapper {
    padding: 40px 60px;
  }
}

@media (max-width: 767px) {
  .collapse.show {
    -webkit-box-shadow: 0 14px 10px rgba(0, 0, 0, 0.12);
            box-shadow: 0 14px 10px rgba(0, 0, 0, 0.12);
  }
}

@media (max-width: 575px) {
  .contact-form-wrapper {
    padding: 40px 20px;
  }
  .content-primary-top .content-primary-top-img .content-primary-top-img-desktop {
    display: none;
  }
  .content-primary-top .content-primary-top-img .content-primary-top-img-mobile {
    display: initial;
  }
}

.home-main .home-main-title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--color-4);
  margin-top: 50px;
}

.home-main .home-main-title-wrapper .home-main-title {
  color: var(--color-2);
  font-weight: 800;
  font-size: 2.1875rem;
}

.home-main .home-main-title-wrapper .home-main-title-acces {
  color: var(--color-secondary);
  font-weight: 600;
  font-size: 0.8125rem;
}

.home-main .home-main-title-wrapper .home-main-title-acces:hover {
  color: var(--color-3);
}

.home-main .home-main-title-wrapper .home-main-title-acces:hover path {
  fill: var(--color-3);
}

.home-main .home-row-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
  margin-top: 46px;
}

.home-main .home-row-services .home-col-services {
  width: 28%;
  padding: 15px;
  position: relative;
  -webkit-transition: .2s;
  transition: .2s;
}

.home-main .home-row-services .home-col-services .home-services-content {
  position: absolute;
  padding: 30px 26px;
  padding-right: 40px;
}

.home-main .home-row-services .home-col-services .home-services-content .home-services-header {
  background-color: var(--color-secondary);
  color: var(--color-1);
  font-weight: 400;
  font-size: 0.875rem;
  padding: 4px 12px;
  border-radius: 36px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 16px;
}

.home-main .home-row-services .home-col-services .home-services-content .home-services-tite {
  color: var(--color-1);
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 26px;
}

.home-main .home-row-services .home-col-services .home-services-content .home-services-detail {
  color: var(--color-secondary);
  font-weight: 600;
  font-size: 0.8125rem;
  display: none;
}

.home-main .home-row-services .home-col-services .home-services-content .home-services-detail span {
  margin-right: 10px;
}

.home-main .home-row-services .home-col-services img {
  width: 100%;
  height: 100%;
}

.home-main .home-row-services .home-col-services:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.home-main .home-row-services .home-col-services:hover .home-services-detail {
  display: block;
}

.home-main .home-row-services .home-col-banner {
  width: 16%;
  padding: 15px;
  text-align: right;
}

.home-main .home-row-services .home-col-banner img {
  width: 100%;
  height: 100%;
}

.home-main .home-banner-middle {
  margin-top: 78px;
  background: var(--color-bg-tr) url(../images/bg/tensgrup.png);
  background-position: right top;
  background-repeat: no-repeat;
  padding: 86px 18px 60px 86px;
}

.home-main .home-banner-middle .home-banner-middle-top-text {
  color: var(--color-3);
  font-weight: 500;
  font-size: 0.9375rem;
}

.home-main .home-banner-middle .home-banner-middle-title {
  text-transform: uppercase;
  color: var(--color-secondary);
  font-weight: 800;
  font-size: 2.8125rem;
  margin-bottom: 30px;
}

.home-main .home-banner-middle .home-banner-middle-text-bold {
  margin-right: 90px;
  line-height: 1.75rem;
  color: var(--color-2);
  font-weight: 700;
  font-size: 1rem;
}

.home-main .home-banner-middle .home-banner-middle-text-small {
  line-height: 1.40625rem;
  color: var(--color-2);
  font-weight: 300;
  font-size: 0.8125rem;
}

.home-main .home-banner-middle .button-primary {
  margin-top: 60px;
}

.home-main .home-banner-double {
  margin-top: 60px;
}

.home-main .home-banner-double .home-banner-double-img {
  margin: 10px 0;
}

.home-main .home-banner-double .home-banner-double-img img {
  width: 100%;
}

.home-main .home-contact .home-main-title-wrapper {
  border: none;
  margin-bottom: 26px;
}

.home-main .home-contact .contact-form-wrapper .home-form-adress {
  list-style: none;
  margin: 0;
  padding: 0;
}

.home-main .home-contact .contact-form-wrapper .home-form-adress .home-form-adress-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 20px;
}

.home-main .home-contact .contact-form-wrapper .home-form-adress .home-form-adress-item .home-form-adress-item-text {
  margin-left: 12px;
}

.home-main .home-contact .contact-form-wrapper .home-form-adress .home-form-adress-item .home-form-adress-item-text .home-form-adress-primary {
  color: var(--color-secondary);
  font-weight: 500;
  font-size: 0.875rem;
}

.home-main .home-contact .contact-form-wrapper .home-form-adress .home-form-adress-item .home-form-adress-item-text .home-form-adress-secondary {
  margin-top: 4px;
  color: var(--color-2);
  font-weight: 700;
  font-size: 1rem;
}

.home-main .home-contact .contact-form-wrapper .home-form-adress .home-form-adress-item .home-form-adress-item-text .home-form-adress-secondary a:hover {
  color: inherit;
}

.home-main .home-subscribe {
  background-color: var(--color-3);
  padding: 36px 42px;
  border-radius: 2px;
  margin-top: 70px;
}

.home-main .home-subscribe .home-subscribe-title {
  color: var(--color-1);
  font-weight: 800;
  font-size: 1.25rem;
  margin: 0;
  text-transform: uppercase;
}

.home-main .home-subscribe .form-subscribe .input-subscribe {
  width: 100%;
  height: 100%;
}

.home-main .home-subscribe .form-subscribe .btn-subscribe {
  width: 100%;
  height: 100%;
  padding: 12px 22px;
}

@media (max-width: 1259px) {
  .home-col-services:hover {
    -webkit-transform: scale(1.036) !important;
            transform: scale(1.036) !important;
  }
}

@media (max-width: 900px) {
  .home-row-services .home-col-services {
    width: 50% !important;
  }
  .home-row-services .home-col-banner {
    width: 50% !important;
  }
  .home-row-services .home-col-banner img {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
  }
}

@media (max-width: 767px) {
  .home-main .home-banner-middle {
    padding: 46px;
  }
  .home-main .home-banner-middle .home-banner-middle-text-bold {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .home-main .home-main-title-wrapper .home-main-title {
    font-size: 1.5rem !important;
  }
}

@media (max-width: 500px) {
  .home-row-services .home-col-services {
    width: 100% !important;
  }
  .home-row-services .home-col-banner {
    display: none;
    width: 100% !important;
  }
  .home-main .home-banner-middle .home-banner-middle-title {
    font-size: 2.2rem;
  }
}

.header-main {
  overflow: hidden;
}

.header-main .navbar-top {
  background-color: var(--color-2);
  z-index: 20;
  color: var(--color-1);
  font-weight: 600;
  font-size: 0.75rem;
}

.header-main .navbar-top .navbar-brand {
  position: absolute;
  top: -13px;
}

.header-main .navbar-top .navbar-top-info {
  width: 100%;
  margin-left: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 0;
}

.header-main .navbar-top .navbar-top-info .navbar-top-lang-cont {
  white-space: nowrap;
}

.header-main .navbar-top .navbar-top-info .navbar-top-lang-cont .navbar-lang {
  margin: 0 18px;
}

.header-main .navbar-top .navbar-top-info .navbar-top-lang-cont .navbar-contact {
  background-color: var(--color-secondary);
  padding: 8px 18px;
  border-radius: 28px;
}

.header-main .navbar-top .navbar-top-info .navbar-top-lang-cont .navbar-contact a {
  margin-left: 30px;
}

.header-main .navbar-top .navbar-top-info .navbar-top-lang-cont .navbar-contact a:hover {
  color: inherit;
}

.header-main .navbar-bottom {
  margin-bottom: 12px;
}

.header-main .navbar-bottom .navbar-collapse {
  margin-left: 140px;
}

.header-main .navbar-bottom .navbar-collapse .navbar-nav {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.header-main .navbar-bottom .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: var(--color-2);
  font-weight: 700;
  font-size: 0.9375rem;
  padding: 0;
  margin: 8px 36px;
  margin-right: 0;
  white-space: nowrap;
}

.header-main .navbar-bottom .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color: var(--color-secondary);
}

.header-main .navbar-bottom .navbar-collapse .navbar-nav .nav-item.search-item {
  cursor: pointer;
}

.header-main .navbar-bottom .navbar-collapse .navbar-nav .nav-item.search-item:hover .search-btn circle,
.header-main .navbar-bottom .navbar-collapse .navbar-nav .nav-item.search-item:hover .search-btn line {
  stroke: var(--color-secondary);
}

.header-main .navbar-bottom .navbar-collapse .search-input {
  display: none;
  width: 100%;
  padding-right: 10px;
}

.header-main .navbar-bottom .navbar-collapse .search-input.showSearch {
  display: block;
  -webkit-animation: showSearch 3s;
          animation: showSearch 3s;
}

.header-main .navbar-bottom .navbar-collapse .search-input.hideSearch {
  display: block;
  -webkit-animation: hideSearch 1s;
          animation: hideSearch 1s;
}

.header-main .navbar-bottom .navbar-collapse .search-input input {
  width: 100%;
  border: 1px solid var(--color-bg);
  color: var(--color-2);
  font-weight: 400;
  font-size: 0.8125rem;
  border-radius: 2px;
  padding: 12px 8px;
}

.header-main .navbar-bottom .navbar-collapse .search-input input::-webkit-input-placeholder {
  color: var(--color-5);
}

.header-main .navbar-bottom .navbar-collapse .search-input input:-ms-input-placeholder {
  color: var(--color-5);
}

.header-main .navbar-bottom .navbar-collapse .search-input input::-ms-input-placeholder {
  color: var(--color-5);
}

.header-main .navbar-bottom .navbar-collapse .search-input input::placeholder {
  color: var(--color-5);
}

.header-main .navbar-bottom .navbar-collapse .search-input input:focus {
  border-color: var(--color-secondary);
}

.header-main .navbar-bottom .mobile-show-med {
  color: var(--color-secondary);
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 14px 0;
  display: inline-block;
}

.header-main .navbar-bottom .mobile-show-min {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding: 0 10px;
}

.header-main .navbar-bottom .mobile-show-min .navbar-contact {
  background-color: var(--color-secondary);
  padding: 0 18px;
  border-radius: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: var(--color-1);
  font-weight: 600;
  font-size: 0.9375rem;
}

.header-main .navbar-bottom .mobile-show-min .navbar-contact > * {
  padding: 8px;
}

.header-main .navbar-bottom .mobile-show-min .navbar-contact a:hover {
  color: inherit;
}

.header-main .navbar-bottom .mobile-show-min .navbar-lang {
  color: var(--color-secondary);
  font-weight: 700;
  font-size: 0.9375rem;
  padding: 10px 0;
}

.header-main .header-image {
  background: var(--color-2);
  background-repeat: no-repeat;
  background-position: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-main .header-image .header-image-content {
  width: 500px;
  margin-left: 200px;
  padding-top: 72px;
  padding-bottom: 46px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.header-main .header-image .header-image-content .header-top-text {
  color: var(--color-secondary);
  font-weight: 600;
  font-size: 1.0625rem;
  margin-bottom: 10px;
}

.header-main .header-image .header-image-content .header-image-title {
  text-transform: uppercase;
  color: var(--color-1);
  font-weight: 800;
  font-size: 3rem;
}

.header-main .header-image .header-image-content .header-image-text {
  color: var(--color-1);
  font-weight: 400;
  font-size: 0.875rem;
}

.header-main .header-image .header-image-content .header-bottom-text {
  color: var(--color-1);
  font-weight: 500;
  font-size: 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 46px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.header-main .header-image .header-image-img {
  text-align: end;
  overflow: hidden;
  width: 100%;
}

.header-main .navbar-lang {
  position: relative;
  cursor: pointer;
}

.header-main .navbar-lang .navbar-lang-selection {
  position: absolute;
  left: -10px;
  border-radius: 0 0 6px 6px;
  background-color: var(--color-2);
  top: 0.94rem;
  padding: 10px;
  z-index: 10;
  display: none;
}

.header-main .navbar-lang .navbar-lang-selection.show-navbar-lang {
  display: inline-block;
}

.header-main .navbar-lang .navbar-lang-selection .navbar-lang-select {
  padding: 4px 0;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.header-main .navbar-lang .navbar-lang-selection .navbar-lang-select:hover {
  color: var(--color-secondary);
}

@media (max-width: 1259px) {
  .header-image-content {
    margin: 0 !important;
    padding-left: var(--bs-gutter-x, 0.75rem);
    padding-right: var(--bs-gutter-x, 0.75rem);
  }
}

@media (max-width: 767px) {
  .navbar-top-info {
    -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
            justify-content: end !important;
  }
  .navbar-top-info .navbar-top-program {
    display: none;
  }
  .navbar-bottom .container-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar-bottom .container-content .navbar-toggler {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
  }
  .navbar-bottom .container-content .navbar-collapse {
    margin-left: 0;
    padding: 20px 10px 10px 10px;
  }
  .navbar-bottom .container-content .navbar-collapse .search-input {
    padding-right: 0 !important;
    margin-bottom: 10px;
  }
  .navbar-bottom .container-content .navbar-collapse .nav-item {
    width: 100%;
    text-align: center;
  }
  .navbar-bottom .container-content .navbar-collapse .nav-item.search-item {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    margin: auto;
  }
  .navbar-bottom .container-content .navbar-collapse .nav-item .nav-link {
    margin-left: 0 !important;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .header-image .header-image-img {
    display: none;
  }
  .header-image .header-image-content {
    width: 100% !important;
  }
}

@media (min-width: 768px) {
  .mobile-show-med {
    display: none !important;
  }
}

@media (max-width: 575px) {
  .navbar-top-info {
    visibility: hidden !important;
  }
  .header-image .header-image-content .header-image-title {
    font-size: 2.2rem !important;
  }
}

@media (min-width: 576px) {
  .mobile-show-min {
    display: none !important;
  }
}

@-webkit-keyframes showSearch {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes showSearch {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes hideSearch {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes hideSearch {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.footer-main {
  background-color: var(--color-2);
  padding: 34px 0;
}

.footer-main .footer-top-info .nav-footer-info {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-bottom: 42px;
  border-bottom: 1px solid var(--color-5);
}

.footer-main .footer-top-info .nav-footer-info .nav-footer-info-item {
  padding: 0 24px;
}

.footer-main .footer-top-info .nav-footer-info .nav-footer-info-item .nav-footer-link {
  color: var(--color-1);
  font-weight: 400;
  font-size: 0.875rem;
}

.footer-main .footer-top-info .nav-footer-info .nav-footer-info-item .nav-footer-link:hover {
  color: var(--color-secondary);
}

.footer-main .footer-top-info .nav-footer-info .nav-footer-info-item-social {
  margin-left: 24px;
}

.footer-main .footer-top-info .nav-footer-info .nav-footer-info-item-social .nav-footer-social {
  padding: 6px 20px;
  background-color: var(--color-secondary);
  border-radius: 28px;
  -webkit-transition: .2s;
  transition: .2s;
}

.footer-main .footer-top-info .nav-footer-info .nav-footer-info-item-social .nav-footer-social:hover {
  outline: 1px solid var(--color-secondary);
  background-color: transparent;
}

.footer-main .footer-top-info .nav-footer-info .nav-footer-info-item-social .nav-footer-social a {
  margin: 0 10px;
}

.footer-main .footer-top-info .nav-footer-info .nav-footer-info-item-social .nav-footer-social a path {
  fill: var(--color-1);
}

.footer-main .footer-top-info .nav-footer-info .nav-footer-info-item-social .nav-footer-social a:hover .fb path {
  fill: #3B5998;
}

.footer-main .footer-top-info .nav-footer-info .nav-footer-info-item-social .nav-footer-social a:hover .instagram path {
  fill: url(#paint1_linear_90_449);
}

.footer-main .footer-top-info .nav-footer-info .nav-footer-info-item-social .nav-footer-social a:hover .instagram path:first-child {
  fill: url(#paint0_linear_90_449);
}

.footer-main .footer-bottom-info .nav-footer-info-bottom {
  list-style: none;
  margin: 28px 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  text-align: right;
}

.footer-main .footer-bottom-info .nav-footer-info-bottom .nav-footer-info-bottom-item {
  padding: 0 26px;
}

.footer-main .footer-bottom-info .nav-footer-info-bottom .nav-footer-info-bottom-item:last-child {
  padding-right: 0;
}

.footer-main .footer-bottom-info .nav-footer-info-bottom .nav-footer-info-bottom-item .nav-footer-info-context {
  color: var(--color-secondary);
  font-weight: 400;
  font-size: 0.875rem;
  margin-bottom: 4px;
}

.footer-main .footer-bottom-info .nav-footer-info-bottom .nav-footer-info-bottom-item .nav-footer-info-contact {
  color: var(--color-1);
  font-weight: 700;
  font-size: 0.9375rem;
}

.footer-main .footer-bottom-info .nav-footer-info-bottom .nav-footer-info-bottom-item .nav-footer-info-contact a {
  color: inherit;
}

.footer-main .footer-copyright {
  text-align: right;
}

.footer-main .footer-copyright .footer-copyright-develop {
  color: #848484;
  font-weight: 700;
  font-size: 0.6875rem;
  font-family: 'Rubik', sans-serif;
  margin-right: 10px;
}

.footer-main .footer-copyright .footer-copyright-link .footer-copyright-studio {
  color: var(--color-1);
  font-weight: 400;
  font-size: 0.75rem;
  margin-right: 10px;
}

@media (max-width: 991px) {
  .footer-main .nav-footer-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .footer-main .nav-footer-info .nav-footer-info-item {
    padding: 10px 0 !important;
  }
  .footer-main .nav-footer-info .nav-footer-info-item:first-child {
    padding-top: 0 !important;
  }
  .footer-main .nav-footer-info .nav-footer-info-item-social {
    margin: 0 !important;
    margin-top: 10px !important;
  }
  .footer-main .nav-footer-info-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .footer-main .nav-footer-info-bottom .nav-footer-info-bottom-item {
    padding: 10px 0 !important;
  }
}

.jobs-main .jobs-vacancies .jobs-vacancies-title {
  color: var(--color-2);
  font-weight: 700;
  font-size: 2.1875rem;
  text-transform: uppercase;
  margin-top: 20px;
}

.jobs-main .jobs-vacancies .jobs-vacancies-wrapper {
  margin: 30px 0;
}

.jobs-main .jobs-vacancies .jobs-vacancies-item {
  background-color: var(--color-6);
  padding: 36px;
  position: relative;
}

.jobs-main .jobs-vacancies .jobs-vacancies-item .jobs-vacancies-item-title {
  color: var(--color-2);
  font-weight: 700;
  font-size: 1rem;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--color-7);
  margin-bottom: 30px;
}

.jobs-main .jobs-vacancies .jobs-vacancies-item .jobs-vacancies-list-title {
  color: var(--color-2);
  font-weight: 600;
  font-size: 1rem;
}

.jobs-main .jobs-vacancies .jobs-vacancies-item .jobs-vacancies-list {
  list-style: none;
  padding: 0;
  margin-bottom: 34px;
}

.jobs-main .jobs-vacancies .jobs-vacancies-item .jobs-vacancies-list .jobs-vacancies-list-item {
  color: var(--color-2);
  font-weight: 300;
  font-size: 0.875rem;
  padding: 10px 0;
}

.jobs-main .jobs-vacancies .jobs-vacancies-item .jobs-vacancies-list .jobs-vacancies-list-item::before {
  content: "-";
  color: var(--color-2);
  font-weight: 300;
  font-size: 0.875rem;
}

.jobs-main .jobs-vacancies .jobs-vacancies-item .jobs-vacancies-animation .jobs-vacancies-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jobs-main .jobs-vacancies .jobs-vacancies-item .btn-visible-control-jobs {
  color: var(--color-2);
  font-weight: 600;
  font-size: 0.8125rem;
}

.jobs-main .jobs-vacancies .jobs-vacancies-item .btn-visible-control-jobs:hover {
  color: var(--color-secondary);
}

.jobs-main .jobs-vacancies .jobs-vacancies-item .btn-visible-control-jobs:hover path {
  stroke: var(--color-secondary);
}

.jobs-main .jobs-vacancies .jobs-vacancies-item .btn-visible-control-jobs span {
  margin-right: 4px;
}

.jobs-main .jobs-vacancies .jobs-vacancies-item .jobs-show-more {
  display: none;
}

.jobs-main .jobs-vacancies .jobs-vacancies-item .jobs-show-more .btn-show-jobs-vacancies {
  padding: 0;
}

.jobs-main .jobs-vacancies .jobs-vacancies-item .jobs-show-more::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 150px;
  bottom: 58px;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-35%, rgba(250, 250, 250, 0)), to(#FAFAFA));
  background: linear-gradient(180deg, rgba(250, 250, 250, 0) -35%, #FAFAFA 100%);
}

.jobs-main .jobs-vacancies .jobs-vacancies-item.jobs-vacancies-item-hide .jobs-vacancies-animation {
  height: 360px;
  overflow: hidden;
}

.jobs-main .jobs-vacancies .jobs-vacancies-item.jobs-vacancies-item-hide .jobs-show-more {
  display: block;
}

.jobs-main .jobs-vacancies .jobs-vacancies-item.jobs-vacancies-item-hide .btn-hide-jobs-vacancies {
  display: none;
}

.jobs-main .jobs-contact {
  padding-top: 50px;
  padding-bottom: 50px;
}

.jobs-main .jobs-contact .jobs-contact-title {
  color: var(--color-2);
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 16px;
  margin-bottom: 20px;
}

.jobs-main .jobs-contact .jobs-contact-text {
  color: var(--color-2);
  font-weight: 300;
  font-size: 1rem;
}

.jobs-main .jobs-contact .btn-action-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jobs-main .jobs-contact .btn-action-contact label {
  color: var(--color-secondary);
  font-weight: 600;
  font-size: 0.8125rem;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.jobs-main .jobs-contact .btn-action-contact label:hover {
  color: var(--color-5);
}

.jobs-main .jobs-contact .btn-action-contact label:hover path {
  fill: var(--color-5);
}

.jobs-main .jobs-contact .btn-action-contact label input {
  display: none;
}

.jobs-main .jobs-contact .btn-action-contact label span {
  margin-left: 6px;
}

@media (max-width: 575px) {
  .jobs-contact .btn-action-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .jobs-contact .btn-action-contact > * {
    margin: 10px 0;
  }
}

.about-main .about-image {
  background-color: var(--color-2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
  margin: 20px 0;
}

.about-main .about-image .about-image-content {
  width: 600px;
  margin-left: 170px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.about-main .about-image .about-image-content .about-image-mission {
  color: var(--color-1);
  font-weight: 600;
  font-size: 0.75rem;
  padding: 8px 16px;
  border-radius: 28px;
  background-color: var(--color-secondary);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.about-main .about-image .about-image-content .about-image-title {
  color: var(--color-1);
  font-weight: 800;
  font-size: 2.1875rem;
  margin-top: 20px;
}

.about-main .about-image .about-image-img {
  height: 336px;
  width: 100%;
  text-align: end;
}

.about-main .about-image .about-image-img img {
  height: 100%;
  position: relative;
  z-index: 2;
}

.about-main .about-image::before {
  content: "";
  background-image: url(../images/bg/“.png);
  width: 260px;
  height: 240px;
  display: block;
  position: absolute;
  left: 80px;
  top: -80px;
}

.about-main .about-image::after {
  content: "";
  background-image: url(../images/bg/“.png);
  width: 260px;
  height: 240px;
  display: block;
  position: absolute;
  left: 712px;
  bottom: -80px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.about-main .about-activity {
  margin: 40px auto;
}

.about-main .about-activity .about-activity-title {
  color: var(--color-2);
  font-weight: 700;
  font-size: 2.1875rem;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.about-main .about-activity .about-activity-wrapper {
  background: var(--color-bg-tr) url(../images/bg/tensgrup.png);
  background-position: right top;
  background-repeat: no-repeat;
  padding: 50px;
}

.about-main .about-activity .about-activity-wrapper .about-activity-text-bold {
  color: var(--color-2);
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 30px;
}

.about-main .about-activity .about-activity-wrapper .about-activity-text-small {
  color: var(--color-2);
  font-weight: 300;
  font-size: 0.8125rem;
}

.about-main .about-activity .about-activity-wrapper .about-activity-list {
  list-style: none;
  padding: 0;
}

.about-main .about-activity .about-activity-wrapper .about-activity-list .about-activity-item {
  padding: 8px 0;
  color: var(--color-2);
  font-weight: 400;
  font-size: 0.8125rem;
  position: relative;
  padding-left: 32px;
}

.about-main .about-activity .about-activity-wrapper .about-activity-list .about-activity-item::before {
  content: "";
  background-image: url(../images/icon/list-style1.png);
  width: 18px;
  height: 10px;
  display: inline-block;
  margin-right: 10px;
  position: absolute;
  top: 12px;
  left: 0;
}

.about-main .about-team {
  margin-bottom: 40px;
}

.about-main .about-team .about-team-title {
  color: var(--color-2);
  font-weight: 700;
  font-size: 2.1875rem;
  text-transform: uppercase;
  margin-top: 80px;
  margin-bottom: 24px;
}

.about-main .about-team .about-team-text-top {
  color: var(--color-2);
  font-weight: 300;
  font-size: 0.8125rem;
}

.about-main .about-team .about-team-wrapper {
  padding: 26px;
  background-color: var(--color-6);
  height: 100%;
}

.about-main .about-team .about-team-wrapper .about-team-img img {
  width: 100%;
  height: 100%;
}

.about-main .about-team .about-team-wrapper .about-team-name {
  color: var(--color-2);
  font-weight: 700;
  font-size: 1rem;
  margin-top: 24px;
  margin-bottom: 10px;
}

.about-main .about-team .about-team-wrapper .about-team-job {
  color: var(--color-2);
  font-weight: 400;
  font-size: 0.8125rem;
}

.about-main .about-team .about-team-wrapper .about-team-email {
  color: #C1C1C1;
  font-weight: 400;
  font-size: 0.8125rem;
  margin-top: 24px;
}

.about-main .about-partners {
  margin-top: 70px;
  margin-bottom: 100px;
}

.about-main .about-partners .about-partners-title {
  color: var(--color-2);
  font-weight: 700;
  font-size: 2.1875rem;
  text-transform: uppercase;
  margin-bottom: 40px;
}

@media (max-width: 1259px) {
  .about-image .about-image-content {
    margin: 0 !important;
    padding-left: var(--bs-gutter-x, 0.75rem);
    padding-right: var(--bs-gutter-x, 0.75rem);
  }
  .about-image::before {
    left: 14px !important;
  }
  .about-image::after {
    left: 422px !important;
  }
}

@media (max-width: 767px) {
  .about-image-img {
    display: none;
  }
  .about-image-content {
    padding-top: 100px;
    padding-bottom: 100px;
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
  }
}

@media (max-width: 575px) {
  .about-image-title {
    font-size: 2.2rem !important;
  }
}

.services-main {
  padding-bottom: 40px;
}

.services-main .services-list {
  margin: 40px auto;
}

.services-main .services-list .services-list-wrapper {
  background-color: var(--color-6);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services-main .services-list .services-list-wrapper .services-list-top img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.services-main .services-list .services-list-wrapper .services-list-top .services-list-top-text {
  color: var(--color-2);
  font-weight: 300;
  font-size: 0.8125rem;
  padding: 20px;
  padding-bottom: 0;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 12;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.services-main .services-list .services-list-wrapper .services-list-bottom {
  padding: 24px;
  color: var(--color-2);
  font-weight: 700;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.services-main .services-list .services-list-wrapper .services-list-bottom:hover {
  color: var(--color-secondary);
}

@media (max-width: 700px) and (min-width: 576px) {
  .services-list-top-text {
    -webkit-line-clamp: 8 !important;
  }
}

.detail-main .detail-main-content .detail-main-title {
  color: var(--color-2);
  font-weight: 700;
  font-size: 2.1875rem;
  margin-bottom: 34px;
}

.detail-main .detail-main-content .detail-text-bold {
  color: var(--color-2);
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.75rem;
}

.detail-main .detail-main-content .detail-text-small {
  color: var(--color-2);
  font-weight: 300;
  font-size: 0.8125rem;
  line-height: 1.4125rem;
}

.detail-main .detail-main-content .detail-text-semibold {
  color: var(--color-2);
  font-weight: 500;
  font-size: 0.8125rem;
}

.detail-main .detail-main-content .detail-main-card .detail-main-card-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.detail-main .detail-main-content .detail-main-card .detail-main-card-img .detail-img-full {
  width: 70%;
  display: inline-block;
}

.detail-main .detail-main-content .detail-main-card .detail-main-card-img .detail-img-banner {
  width: 30%;
  padding-left: 20px;
  display: inline-block;
}

.detail-main .detail-main-content .detail-main-card .detail-main-card-img img {
  width: 100%;
  height: 100%;
}

.detail-main .detail-main-content .detail-main-card .detail-main-card-text {
  margin-top: 50px;
  margin-bottom: 30px;
}

.detail-main .detail-main-content-after {
  margin-top: 50px;
  margin-bottom: 40px;
}

.detail-main .detail-main-content-after .detail-main-item {
  padding-bottom: 20px;
}

.detail-main .detail-main-content-bottom {
  margin-bottom: 40px;
}

.detail-main .detail-main-content-bottom .detail-main-content-bottom-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.detail-main .detail-main-content-bottom .detail-main-content-bottom-img .detail-img-full {
  width: 70%;
}

.detail-main .detail-main-content-bottom .detail-main-content-bottom-img .detail-img-banner {
  width: 30%;
  padding-left: 20px;
}

.detail-main .detail-main-content-bottom .detail-main-content-bottom-img img {
  width: 100%;
  height: 100%;
}

.detail-main .detail-main-content-bottom .detail-main-content-bottom-text .detail-main-content-bottom-wrapper {
  margin-top: 40px;
}

.detail-main .detail-main-content-bottom .detail-main-content-bottom-text .detail-main-content-bottom-wrapper .detail-tile-list {
  color: var(--color-2);
  font-weight: 600;
  font-size: 0.8125rem;
  line-height: 1.425rem;
}

.detail-main .detail-main-content-bottom .detail-main-content-bottom-text .detail-main-content-bottom-wrapper .detail-main-content-bottom-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.detail-main .detail-main-content-bottom .detail-main-content-bottom-text .detail-main-content-bottom-wrapper .detail-main-content-bottom-list .detail-main-content-bottom-item {
  color: var(--color-2);
  font-weight: 400;
  font-size: 0.8125rem;
  padding: 6px 0;
  position: relative;
  padding-left: 32px;
}

.detail-main .detail-main-content-bottom .detail-main-content-bottom-text .detail-main-content-bottom-wrapper .detail-main-content-bottom-list .detail-main-content-bottom-item::before {
  content: "";
  background-image: url(../images/icon/list-style1.png);
  width: 18px;
  height: 10px;
  display: inline-block;
  margin-right: 10px;
  position: absolute;
  top: 12px;
  left: 0;
}

.detail-main .detail-contact {
  margin-bottom: 60px;
}

.detail-main .detail-contact .jobs-contact-title {
  color: var(--color-2);
  font-weight: 700;
  font-size: 2.1875rem;
  margin-bottom: 20px;
}

.detail-main .detail-contact .jobs-contact-text {
  color: var(--color-2);
  font-weight: 300;
  font-size: 1rem;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 400;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
  -webkit-transition: .2s;
  transition: .2s;
}

input:focus {
  outline: none;
}

path, rect, circle, line {
  -webkit-transition: .2s;
  transition: .2s;
}
/*# sourceMappingURL=style.css.map */