@function remTransform($px) {
    @return $px/16+rem
};

@mixin text($color, $weight, $size, $important:false) {
    @if $important {
        color: $color !important;
        font-weight: $weight !important;
        font-size: remTransform($size) !important;
    } @else {
        color: $color;
        font-weight: $weight;
        font-size: remTransform($size);
    }
}