.personal-cabinet {
    margin-bottom: 90px;
    .row-cabinet {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -12px;
        .col-cabinet-menu {
            width: 312px;
            padding: 12px;
            .cabinet-menu-card {
                border-radius: 10px;
                background-color: $color-5;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                position: relative;
                z-index: 2;
                .cabinet-menu-card-header {
                    background-color: $color-21;
                    padding: 10px;
                    .cabinet-menu-card-header-button {
                        .cabinet-menu-card-edit {
                            @include text($color-1, 400, 16);
                            padding: 8px 16px;
                            background-color: $color-5;
                            border: 1px solid #E1E1E1;
                            border-radius: 6px;
                            span {
                                margin-right: 4px;
                            }
                            &:hover {
                                span {
                                    text-decoration: underline;
                                }
                                border-color: $color-17;
                            }
                        }
                    }
                    .cabinet-menu-card-header-logo {
                        width: 140px;
                        height: 140px;
                        border-radius: 100%;
                        overflow: hidden;
                        margin: 30px auto 16px auto;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .cabinet-menu-card-header-name {
                        @include text($color-1, 700, 22);
                        text-align: center;
                        margin: 10px 0;
                    }
                }
                .cabinet-menu-card-body {
                    padding: 24px;
                    .cabinet-menu-card-body-list {
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        .cabinet-menu-card-body-item {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding: 8px;
                            border-bottom: 1px solid $color-7;
                            margin-bottom: 24px;
                            .cabinet-menu-card-body-link {
                                @include text($color-1, 400, 20);
                                span {
                                    font-size: remTransform(16);
                                }
                                &.link-active {
                                    color: $color-6;
                                }
                            }
                            .cabinet-menu-card-body-qty {
                                background-color: $color-11;
                                border-radius: 100px;
                                padding: 2px 16px;
                                @include text($color-5, 700, 16);
                            }
                        }
                    }
                }
                .cabinet-menu-card-footer {
                    padding: 40px 24px 50px 24px;
                    .cabinet-menu-card-footer-btn {
                       background-color: $color-26; 
                       padding: 14px 28px;
                       border-radius: 10px;
                       @include text($color-5, 700, 20);
                       width: 100%;
                       &:hover {
                           background-color: $color-26-hover;
                       }
                       &.new-order {
                        background-color: $color-7;
                        cursor: initial;
                       }
                    }
                }
            }
            #cabinetToggle {
                background-color: $color-5;
                padding: 10px;
                border-radius: 0 10px 10px 0;
                position: absolute;
                top: 62px;
                right: -40px;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                display: none;
                &:hover path {
                    fill: $color-18;
                }
            }
        }
        .col-cabinet-list {
            width: calc(100% - 312px);
            padding: 12px;
            .cabinet-list-top {
                display: flex;
                flex-wrap: wrap;
                align-items: baseline;
                justify-content: space-between;
                margin: -12px;
                &>* {
                    padding: 12px;
                }
                .cabinet-list-top-link {
                    @include text($color-1, 700, 40);
                    margin-bottom: 30px;
                    .cabinet-list-top-goto:hover {
                        path {
                            fill: $color-6;
                        }
                        rect:first-child {
                            stroke: $color-6;
                        }
                    }
                    span {
                        margin-left: 10px;
                    }
                }
                .cabinet-list-top-info {
                    .cabinet-list-top-info-wrapper {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                        padding: 0 10px;
                        border-radius: 100px;
                        .cabinet-list-top-info-data {
                            padding: 14px;
                            white-space: nowrap;
                            .cabinet-list-top-info-text {
                                @include text($color-1, 350, 14);
                            }
                            .cabinet-list-top-info-number {
                                @include text(#C3C7CE, 350, 14);
                                margin-left: 6px;
                            }
                            .cabinet-list-top-info-download {
                                @include text($color-1, 400, 16);
                            }
                        }
                    }
                }
            }
            .cabinet-list-container {
                list-style: none;
                margin: 0;
                padding: 0;
                border: 1px solid $color-7;
                border-radius: 10px;
                .cabinet-list-item {
                    padding: 26px 18px 32px 18px;
                    border-bottom: 1px solid $color-7;
                    &:nth-child(even) {
                        background-color: $color-21;
                    }
                    &:last-child {
                        border-bottom: none;
                    }
                    .cabinet-list-item-date {
                        @include text($color-12, 350, 12);
                    }
                    .cabinet-list-item-img {
                        width: 100%;
                        height: 100%;
                        max-height: 320px;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .cabinet-list-item-primary-text {
                        @include text($color-1, 700, 20);
                    }
                    .cabinet-list-item-secondary-text {
                        @include text($color-2, 350, 15);
                    }
                    .cabinet-list-item-info {
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        display: flex;
                        flex-wrap: wrap;
                        margin: 0 -3px;
                        margin-top: 16px;
                        .cabinet-list-item-info-content {
                            padding: 3px;
                            .cabinet-list-item-info-content-text {
                                @include text($color-2, 350, 14);
                                padding: 6px 12px;
                                border: 1px solid $color-7;
                                border-radius: 4px;
                            }
                        }
                    }
                    .cabinet-list-item-price {
                        @include text($color-19, 350, 15);
                        display: flex;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                    }
                    .cabinet-list-item-btn-wrapper {
                        display: flex;
                        width: 100%;
                        height: 100%;
                        align-items: center;
                        justify-content: end;
                        .cabinet-list-item-btn-status {
                            border: 1px solid $color-7;
                            border-radius: 100px;
                            padding: 6px 10px 6px 24px;
                            height: 38px;
                            @include text($color-26, 400, 16);
                            margin-right: 16px;
                            white-space: nowrap;
                            &.status-new {
                                color: $color-11;
                            }
                            span {
                                margin-right: 12px;
                            }
                        }
                        .cabinet-list-item-btn-setting-wrapper {
                            position: relative;
                            .cabinet-setting-modal {
                                position: absolute;
                                z-index: 2;
                                list-style: none;
                                margin: 0;
                                padding: 16px 32px;
                                border: 1px solid #C4C4C4;
                                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                                background-color: $color-5;
                                border-radius: 10px;
                                right: 0;
                                top: calc(100% + 8px);
                                display: none;
                                &.active-modal {
                                    display: block;
                                }
                                .cabinet-setting-modal-item {
                                    padding: 8px 0;
                                    .cabinet-setting-modal-btn {
                                        display: flex;
                                        align-items: baseline;
                                        @include text($color-2, 350, 15);
                                        span {
                                            margin-left: 10px;
                                        }
                                        &:hover span {
                                            text-decoration: underline;
                                        }
                                    }
                                }
                                &::before {
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    border-left: 1px solid #C4C4C4;
                                    width: 10px;
                                    height: 14px;
                                    top: -9px;
                                    right: 27px;
                                    transform: rotate(45deg);
                                }
                                &::after {
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    border-right: 1px solid #C4C4C4;
                                    width: 10px;
                                    
                                    height: 10px;
                                    top: -11px;
                                    right: 30px;
                                    box-shadow: 0px 6px 0px white;
                                }
                            }
                            .cabinet-list-item-btn-setting {
                                padding: 10px;
                                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                                border-radius: 100%;
                                height: 38px;
                                width: 38px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                &.active-modal {
                                    background-color: $color-17;
                                    path {
                                        fill: $color-5;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .col-cabinet-list {
        .new-order-title {
            @include text($color-2, 400, 16);
            margin-bottom: 4px;
            &::after {
                content: '*';
                @include text($color-2, 350, 15);
            }
        }
        .new-order-select {
            width: 100%;
            border: 1px solid #CBCBCB;
            @include text($color-2, 350, 17);
            .list {
                width: 100%;
                .option {
                    @include text($color-2, 350, 17);
                }
            }
        }
        .cabinet-list-new-order-type {
            @include text($color-6, 700, 20);
            border-bottom: 1px solid $color-7;
            margin-top: 36px;
            margin-bottom: 28px;
        }
        .new-order-input {
            padding: 12px 20px;
            border: 1px solid #CBCBCB;
            border-radius: 6px;
            @include text(#373737, 350, 17);
            width: 100%;
            &:focus {
                outline: none;
            }
        }
        .new-order-list-title {
            @include text($color-2, 400, 16);
            margin-top: 12px;
            margin-bottom: 8px;
        }
        .new-order-list {
            list-style: none;
            margin: 0;
            padding: 0;
            .new-order-list-item {
                padding: 4px 0;
                label {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    @include text($color-2, 350, 15);
                    input {
                        cursor: pointer;
                        width: 18px;
                        height: 18px;
                        appearance: none;
                        border: 1px solid #797979;
                        border-radius: 2px;
                        &:checked {
                            background: $color-18 url(../images/icon/checkbox.svg);
                            border-color: $color-18;
                        }
                    }
                    span {
                        margin-left: 10px;
                    }
                }
            }
        }
        .cabinet-list-new-order-opinion {
            @include text($color-2, 350, 15);
            margin-bottom: 40px;
        }
        .new-order-title-small {
            @include text(#525252, 350, 15);
        }
        .new-order-file {
            cursor: pointer;
            padding: 22px 32px;
            background-color: $color-7;
            border-radius: 10px;
            transition: .2s;
            margin-top: 16px;
            &:hover {
                background-color: #F7F7F7;
            }
            input {
                display: none;
            }
        }
        .new-order-action-btn {
            padding: 16px 0;
            margin-top: 36px;
            border-top: 4px solid $color-7;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            &>* {
                margin: 12px 0;
            }
            .new-order-btn-cancel {
                padding: 0;
                @include text($color-2, 400, 16);
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }
            .new-order-btn-save {
                @include text($color-5, 700, 20);
                padding: 14px 48px;
                border-radius: 10px;
                background-color: $color-26;
                &:hover {
                    background-color: $color-26-hover;
                }
            }
        }
    }

    .cabinet-list-container-client {
        .wrapper-cabinet-list-client-info {
            cursor: pointer;
            padding-bottom: 26px;
        }
        
        .cabinet-list-item {
            background-color: $color-21 !important;
            padding-bottom: 0 !important;
            .cabinet-list-partner-arrow {
                transition: .2s;
            }
            &.more-info {
                background-color: $color-5 !important;
                .cabinet-list-item-more-info {
                    display: block;
                }
                .cabinet-list-partner-arrow {
                    transform: rotate(180deg);
                }
            }
        }
        .cabinet-list-id {
            @include text($color-2, 400, 17);
        }
        .cabinet-list-date {
            @include text(#3C3C3C, 350, 14);
        }
        .cabinet-list-item-primary-text {
            @include text($color-2, 400, 17, true);
        }
        .cabinet-list-item-secondary-text {
            @include text(#3C3C3C, 350, 15, true);
        }
        .cabinet-list-item-price {
            @include text($color-2, 400, 17, true);
        }
        .cabinet-list-item-more-info {
            border-top: 1px solid $color-7;
            margin-bottom: 26px;
            padding-top: 20px;
            display: none;
            .cabinet-list-more-info {
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
                .cabinet-list-more-info-primary {
                    @include text($color-2, 400, 17);
                }
                .cabinet-list-more-info-secondary {
                    @include text($color-2, 350, 15);
                }
            }
        }
    }

}

@media (max-width: 1199px) {
    .personal-cabinet {
        .col-cabinet-menu {
            position: absolute;
            left: -300px;
            transition: .8s;
            z-index: 20;
            &.open-menu {
                left: 0;
            }
            #cabinetToggle {
                display: inline-block !important;
            }
        }
        .col-cabinet-list {
            width: 100% !important;
        }
        .cabinet-list-container, .cabinet-list-new-order-wrapper {
            margin-top: 22px !important;
        }
    }
}

@media (max-width: 767px) {
    .personal-cabinet {
        .cabinet-list-top-info {
            width: 100%;
        }
    }
}

@media (max-width: 575px) {
    .personal-cabinet {
        .cabinet-list-top-info-wrapper {
            flex-direction: column;
            border-radius: 18px !important;
        }
    }
}

@media (max-width: 420px) {
    .personal-cabinet {
        .col-cabinet-menu.open-menu {
            #cabinetToggle {
                right: 12px !important;
                top: 16px !important;
                z-index: 4;
                background-color: transparent !important;
                box-shadow: none !important;
            }
        }
        .cabinet-list-top-link {
            font-size: 1.8rem !important;
            margin-bottom: 44px !important;
        }
    }
}