:root {
  --font_family: "Roboto", sans-serif;
  --font_family-1: "Oswald", sans-serif;
  --font_family-2: "Jura", sans-serif;
  --color-1: #262626;
  --color-2: #E5E5E5;
  --color-3: #0C9BD8;
  --color-4: #FFFFFF;
  --color-4-opacity: rgba(255, 255, 255, 0.8);
  --color-5: #1A1B1C;
  --color-6: #E4E4E4;
  --color-7: #F7F9FA;
  --color-8: #5E5E5E;
  --color-9: #101010;
  --color-10: #000000;
  --color-11: #C20000;
  --color-12: #070707;
  --color-13: #ECF1F3;
  --color-14: #717171;
  --color-15: #3D3D3D;
}

.navbar > .container-xxxl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: inherit;
      flex-wrap: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.container-content {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 1;
}

.container-xxxl {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 1;
}

@media (min-width: 1900px) {
  .container-xxxl {
    max-width: 1840px;
  }
}

@media (min-width: 1260px) {
  .container-content {
    max-width: 1200px;
  }
}

.navbar-toggler {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  padding-left: 0;
  padding-right: 0;
}

.navbar-toggler path {
  fill: var(--color-3);
}

.navbar-toggler.collapsed path {
  fill: var(--color-4);
}

.navbar-toggler.collapsed:hover path {
  fill: var(--color-3);
}

.navbar-toggler:hover path {
  fill: var(--color-4);
}

.bg-grey {
  background-color: var(--color-7);
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -4px;
}

.breadcrumbs .breadcrumbs-item {
  padding: 4px 4px;
}

.breadcrumbs .breadcrumbs-item::after {
  content: "/";
  color: var(--color-4);
  font-weight: 300;
  font-size: 0.8125rem;
  margin-left: 4px;
}

.breadcrumbs .breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs .breadcrumbs-item .breadcrumbs-link {
  color: var(--color-4);
  font-weight: 300;
  font-size: 0.8125rem;
}

.breadcrumbs .breadcrumbs-item .breadcrumbs-link:hover {
  opacity: .8;
}

.offer-wrapper {
  margin-top: -94px;
}

.offer-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
}

.offer-header .offer-header-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer-header .offer-header-col .offer-header-time {
  color: var(--color-4);
  font-weight: 400;
  font-size: 0.875rem;
}

.offer-header .offer-header-col .offer-header-question a {
  color: var(--color-4);
  font-weight: 400;
  font-size: 0.875rem;
  text-decoration: underline;
}

.offer-header .offer-header-col .offer-header-question a:hover {
  text-decoration: none;
}

.offer-header .offer-header-col .offer-header-msg {
  color: var(--color-4);
  font-weight: 400;
  font-size: 0.875rem;
}

.offer-card {
  padding: 22px 42px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 20px rgba(15, 65, 86, 0.2);
          box-shadow: 0px 0px 20px rgba(15, 65, 86, 0.2);
  background-color: var(--color-4);
}

.offer-card .offer-card-question {
  color: var(--color-1);
  font-weight: 400;
  font-size: 0.875rem;
  font-style: italic;
  margin-bottom: 6px;
}

.input-text {
  color: var(--color-1);
  font-weight: 300;
  font-size: 0.875rem;
  background: var(--color-7);
  border: 1px solid var(--color-6);
  -webkit-box-shadow: inset 0px 4px 4px rgba(15, 65, 86, 0.1);
          box-shadow: inset 0px 4px 4px rgba(15, 65, 86, 0.1);
  border-radius: 4px;
  height: 48px;
  width: 100%;
  padding: 12px 18px;
}

.input-text:focus {
  outline: none;
  border: 1px solid var(--color-3);
}

.input-text::-webkit-input-placeholder {
  color: var(--color-8);
  font-weight: 300;
  font-size: 0.875rem;
}

.input-text:-ms-input-placeholder {
  color: var(--color-8);
  font-weight: 300;
  font-size: 0.875rem;
}

.input-text::-ms-input-placeholder {
  color: var(--color-8);
  font-weight: 300;
  font-size: 0.875rem;
}

.input-text::placeholder {
  color: var(--color-8);
  font-weight: 300;
  font-size: 0.875rem;
}

.button-type-1 {
  color: var(--color-4);
  font-weight: 500;
  font-size: 1rem;
  background-color: var(--color-3);
  border: 1px solid var(--color-3);
  border-radius: 4px;
  width: 100%;
  min-height: 48px;
  padding: 12px 18px;
}

.button-type-1:hover {
  background-color: transparent;
  color: var(--color-3);
}

.button-type-1:active, .button-type-1.nice-select.open {
  background-color: var(--color-3);
  color: var(--color-4);
}

.input-placeholder {
  position: relative;
  display: inline-block;
  width: 100%;
}

.input-placeholder .input-placeholder-text {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  pointer-events: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-8);
  font-weight: 300;
  font-size: 0.875rem;
}

.input-placeholder .input-placeholder-text .placeholder-required {
  color: var(--color-3);
}

.slider-btn {
  padding: 0;
  display: none;
}

.slider-btn.slick-disabled {
  cursor: initial;
  opacity: .2 !important;
}

.slider-btn:hover {
  opacity: .6;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 40px 0;
  margin: 0 -6px;
}

.slick-dots li {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: var(--color-13);
  margin: 6px;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.slick-dots li:hover {
  background-color: var(--color-6);
}

.slick-dots li.slick-active {
  background-color: var(--color-14);
}

.slick-dots li button {
  display: none;
}

.header-main {
  position: relative;
}

.header-main .search-input-navbar {
  position: absolute;
  padding: 1rem 0;
  width: 100%;
  height: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 200;
  background-color: var(--color-5);
  top: -82px;
  -webkit-transition: .8s;
  transition: .8s;
}

.header-main .search-input-navbar.search-input-open {
  top: 0;
}

.header-main .search-input-navbar .input-search {
  height: 100%;
  width: 100%;
  font-size: 1rem;
}

.header-main .search-input-navbar .input-search::-webkit-input-placeholder {
  font-size: 1rem;
}

.header-main .search-input-navbar .input-search:-ms-input-placeholder {
  font-size: 1rem;
}

.header-main .search-input-navbar .input-search::-ms-input-placeholder {
  font-size: 1rem;
}

.header-main .search-input-navbar .input-search::placeholder {
  font-size: 1rem;
}

.header-main .navbar {
  background-color: var(--color-5);
}

.header-main .navbar .navbar-nav .nav-item .nav-link {
  color: var(--color-4);
  font-weight: 400;
  font-size: 1rem;
  font-family: var(--font_family-2);
}

.header-main .navbar .navbar-nav .nav-item .nav-link.active {
  color: var(--color-3);
}

.header-main .navbar .navbar-nav .nav-item .nav-link:hover {
  color: var(--color-3);
}

.header-main .navbar .navbar-action-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.header-main .navbar .navbar-action-list .navbar-search-btn:hover path {
  fill: var(--color-3);
}

.header-main .navbar .navbar-action-list .nice-select {
  background-color: transparent;
  color: var(--color-4-opacity);
  font-weight: 400;
  font-size: 1rem;
  border: none;
}

.header-main .navbar .navbar-action-list .nice-select::after {
  border: none;
}

.header-main .navbar .navbar-action-list .nice-select .list {
  background-color: var(--color-5);
}

.header-main .navbar .navbar-action-list .nice-select .list .selected {
  color: var(--color-1);
}

.header-main .navbar .navbar-action-list .nice-select .list:hover .option:not(:hover) {
  color: var(--color-4-opacity);
}

.header-main .navbar .navbar-action-list .nice-select .list .option:hover {
  color: var(--color-1);
}

.header-main .navbar .navbar-action-list .navbar-contact-us .navbar-contact-phone {
  color: var(--color-4);
  font-weight: 300;
  font-size: 1.125rem;
  font-family: var(--font_family-1);
}

.header-main .navbar .navbar-action-list .navbar-contact-us .navbar-contact-phone:hover {
  color: var(--color-3);
}

.header-main .navbar .navbar-action-list .navbar-contact-us .navbar-contact-text {
  color: var(--color-3);
  font-weight: 500;
  font-size: 0.875rem;
  font-family: var(--font_family-2);
  text-align: center;
}

.header-main .header-hero {
  background-color: var(--color-3);
  padding: 14px 0 154px 0;
}

.header-main .header-hero .header-hero-title {
  color: var(--color-4);
  font-weight: 700;
  font-size: 3.4375rem;
  width: 836px;
  text-align: center;
  margin: auto;
  margin-top: 66px;
  margin-bottom: 10px;
}

.header-main .header-hero .header-hero-text {
  color: var(--color-4);
  font-weight: 500;
  font-size: 1rem;
  width: 836px;
  text-align: center;
  margin: auto;
}

@media (max-width: 1199px) {
  .header-main .search-input-navbar {
    height: 74px;
    top: -74px;
  }
}

@media (max-width: 991px) {
  .header-main .header-hero .header-hero-title {
    width: 100%;
  }
  .header-main .header-hero .header-hero-text {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .header-main .header-hero .header-hero-title {
    font-size: 2.4rem;
  }
}

.main .section-developer-web {
  padding: 24px 0 58px 0;
  position: relative;
}

.main .section-developer-web .left-content-menu {
  position: absolute;
  width: 320px;
  padding: 0 1rem;
  z-index: 20;
  -webkit-transition: 1s;
  transition: 1s;
}

.main .section-developer-web .left-content-menu.open-left-menu {
  left: 0;
}

.main .section-developer-web .left-content-menu.open-left-menu .left-content-btn svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.main .section-developer-web .left-content-menu .left-content-menu-title {
  color: var(--color-15);
  font-weight: 500;
  font-size: 1.125rem;
  margin-bottom: 20px;
}

.main .section-developer-web .left-content-menu .left-content-menu-list .left-content-menu-item {
  padding: 4px 0;
}

.main .section-developer-web .left-content-menu .left-content-menu-list .left-content-menu-item .left-content-menu-link {
  color: var(--color-15);
  font-weight: 400;
  font-size: 0.875rem;
}

.main .section-developer-web .left-content-menu .left-content-menu-list .left-content-menu-item .left-content-menu-link:hover {
  color: var(--color-3);
}

.main .section-developer-web .left-content-menu .left-content-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -4px;
  margin-top: 60px;
}

.main .section-developer-web .left-content-menu .left-content-action .left-content-action-item {
  padding: 4px;
}

.main .section-developer-web .left-content-menu .left-content-action .left-content-action-item.btn-action {
  display: none;
}

.main .section-developer-web .left-content-menu .left-content-action .left-content-action-item .left-content-btn {
  padding: 0;
  background-color: var(--color-3);
  width: 36px;
  height: 36px;
  padding: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3px;
}

.main .section-developer-web .left-content-menu .left-content-action .left-content-action-item .left-content-btn:hover {
  background-color: transparent;
}

.main .section-developer-web .left-content-menu .left-content-action .left-content-action-item .left-content-btn:hover path {
  fill: var(--color-3);
}

.main .section-developer-web .left-content-menu .left-content-action .left-content-action-item .left-content-action-link:hover .facebook path[fill="#4A6EA9"] {
  fill: transparent;
}

.main .section-developer-web .left-content-menu .left-content-action .left-content-action-item .left-content-action-link:hover .facebook path[fill="white"] {
  fill: #4A6EA9;
}

.main .section-developer-web .left-content-menu .left-content-action .left-content-action-item .left-content-action-link:hover .linkedin path[fill="#4875B4"] {
  fill: transparent;
}

.main .section-developer-web .left-content-menu .left-content-action .left-content-action-item .left-content-action-link:hover .linkedin path[fill="white"] {
  fill: #4875B4;
}

.main .section-developer-web .left-content-menu .left-content-action .left-content-action-item .left-content-action-link:hover .telegram path[fill="#39A7DA"] {
  fill: transparent;
}

.main .section-developer-web .left-content-menu .left-content-action .left-content-action-item .left-content-action-link:hover .telegram path[fill="white"] {
  fill: #39A7DA;
}

.main .section-developer-web .section-developer-title {
  color: var(--color-1);
  font-weight: 600;
  font-size: 1.75rem;
  text-align: center;
  margin: auto;
  width: 522px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.main .section-developer-web .section-developer-list {
  width: 784px;
  margin: auto;
  margin-bottom: 16px;
  color: var(--color-9);
  font-weight: 400;
  font-size: 1rem;
  padding-left: 1rem;
}

.main .section-developer-web .section-developer-list .section-developer-item {
  padding: 6px 0;
}

.main .section-developer-web .section-developer-text {
  width: 784px;
  margin: auto;
  color: var(--color-10);
  font-weight: 300;
  font-size: 1rem;
  position: relative;
  padding-left: 1.08rem;
  line-height: 1.6rem;
}

.main .section-developer-web .section-developer-text .section-developer-text-bold {
  font-weight: 500;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-color: var(--color-11);
          text-decoration-color: var(--color-11);
  text-decoration-thickness: 3px;
  text-underline-position: under;
}

.main .section-developer-web .section-developer-text::before {
  content: "!!!";
  color: var(--color-10);
  font-weight: 500;
  font-size: 1rem;
  position: absolute;
  left: 0;
}

.main .section-developer-web .section-developer-divider {
  padding: 26px 0;
  text-align: center;
}

.main .section-developer-web .section-developer-second-title {
  color: var(--color-1);
  font-weight: 600;
  font-size: 1.75rem;
  text-align: center;
  margin-bottom: 50px;
}

.main .section-developer-web .section-developer-percent {
  color: var(--color-12);
  font-weight: 400;
  font-size: 3.75rem;
  font-family: var(--font_family-1);
}

.main .section-developer-web .section-developer-percent-text {
  color: var(--color-10);
  font-weight: 400;
  font-size: 0.875rem;
}

.main .section-structure-store {
  padding: 60px 0;
}

.main .section-structure-store .section-structure-store-title {
  color: var(--color-1);
  font-weight: 600;
  font-size: 1.75rem;
  margin: auto;
  margin-bottom: 18px;
  width: 784px;
  text-align: center;
}

.main .section-structure-store .section-structure-store-text {
  color: var(--color-10);
  font-weight: 300;
  font-size: 1.625rem;
  text-align: justify;
  margin: auto;
  margin-bottom: 0;
  width: 784px;
}

.main .section-structure-store .section-structure-store-text .section-structure-store-primary {
  font-weight: 500;
}

.main .section-must-have {
  padding: 60px 0;
}

.main .section-must-have .section-must-have-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--color-13);
  margin-bottom: 68px;
}

.main .section-must-have .section-must-have-header .section-must-have-header-title {
  color: var(--color-1);
  font-weight: 500;
  font-size: 1.125rem;
}

.main .section-must-have .section-must-have-header .section-must-have-header-title span {
  color: var(--color-11);
}

.main .section-must-have .section-must-have-slider {
  margin: 0 -6px;
}

.main .section-must-have .section-must-have-slider .slider-item {
  padding: 0 6px;
}

.main .section-must-have .section-must-have-slider .slider-item .slider-item-wrapper .col-wrapper-text {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .section-must-have .section-must-have-slider .slider-item .slider-item-wrapper .col-wrapper-text .must-have-text {
  color: var(--color-10);
  font-weight: 300;
  font-size: 0.875rem;
}

.main .section-must-have .section-must-have-slider .slider-item .slider-item-wrapper .col-wrapper-text .must-have-list {
  margin-top: 18px;
}

.main .section-must-have .section-must-have-slider .slider-item .slider-item-wrapper .col-wrapper-text .must-have-list .must-have-item {
  padding-bottom: 12px;
}

.main .section-must-have .section-must-have-slider .slider-item .slider-item-wrapper .col-wrapper-text .must-have-list .must-have-item .must-have-text-bold {
  color: var(--color-10);
  font-weight: 500;
  font-size: 0.9375rem;
}

.main .section-must-have .section-must-have-slider .slider-item .slider-item-wrapper .col-wrapper-img {
  width: 100%;
  height: 100%;
}

.main .section-must-have .section-must-have-slider .slider-item .slider-item-wrapper .col-wrapper-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.main .section-must-have .section-must-have-footer {
  border: 3px solid var(--color-11);
  padding: 34px 12px;
}

.main .section-must-have .section-must-have-footer .section-must-have-footer-text {
  width: 784px;
  color: var(--color-10);
  font-weight: 500;
  font-size: 1.125rem;
  margin: auto;
  text-align: justify;
}

.main .section-content-management {
  padding: 60px 0;
}

.main .section-content-management .content-management-wrapper {
  width: 784px;
  margin: auto;
}

.main .section-content-management .content-management-wrapper .section-content-management-title {
  color: var(--color-1);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 20px;
  text-align: center;
}

.main .section-content-management .content-management-wrapper .section-content-management-text {
  color: var(--color-10);
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 24px;
}

.main .section-content-management .content-management-wrapper .section-content-management-bold {
  color: var(--color-10);
  font-weight: 500;
  font-size: 1rem;
}

.main .section-content-management .content-management-wrapper .content-management-list .content-management-item {
  color: var(--color-10);
  font-weight: 300;
  font-size: 1rem;
}

.main .section-content-management .content-management-wrapper-img {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main .section-content-management .content-management-wrapper-img .content-management-img {
  width: 50%;
}

.main .section-content-management .content-management-wrapper-img .content-management-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.main .section-stages-development {
  padding: 68px 0;
}

.main .section-stages-development .section-stages-development-title {
  text-align: center;
  color: var(--color-1);
  font-weight: 600;
  font-size: 1.75rem;
  margin: 0;
}

.main .section-stages-development .section-stages-development-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
}

.main .section-stages-development .section-stages-development-slider {
  margin: 0 -12px;
}

.main .section-stages-development .section-stages-development-slider .section-stages-development-item {
  padding: 0 12px;
}

.main .section-stages-development .section-stages-development-slider .section-stages-development-item .stages-development-content .stages-development-content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .section-stages-development .section-stages-development-slider .section-stages-development-item .stages-development-content .stages-development-content-header .stages-development-number {
  color: var(--color-12);
  font-weight: 400;
  font-size: 3.75rem;
  font-family: var(--font_family-1);
  line-height: 2.75rem;
}

.main .section-stages-development .section-stages-development-slider .section-stages-development-item .stages-development-content .stages-development-content-header .stages-development-title {
  color: var(--color-10);
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.8rem;
  padding-left: 10px;
}

.main .section-stages-development .section-stages-development-slider .section-stages-development-item .stages-development-content .stages-development-content-body {
  color: var(--color-10);
  font-weight: 300;
  font-size: 0.875rem;
  margin-top: 18px;
}

.main .section-contact-us {
  padding-bottom: 74px;
}

.main .section-contact-us .section-contact-us-inputs {
  position: relative;
  top: -48px;
}

.main .section-contact-us .section-contact-us-title {
  color: var(--color-1);
  font-weight: 600;
  font-size: 1.75rem;
  text-align: center;
  margin-bottom: 14px;
}

.main .section-contact-us .section-contact-us-text {
  color: var(--color-1);
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 28px;
}

.main .section-contact-us .section-contact-us-phone {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  text-align: center;
  color: var(--color-12);
  font-weight: 400;
  font-size: 3.75rem;
  font-family: var(--font_family-1);
}

.main .section-contact-us .section-contact-us-email {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  text-align: center;
  color: var(--color-1);
  font-weight: 400;
  font-size: 1rem;
}

.main .section-similar-services {
  padding: 60px 0 140px 0;
}

.main .section-similar-services .section-similar-services-title {
  color: var(--color-1);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 30px;
}

.main .section-similar-services .section-similar-services-content .section-similar-services-content-img {
  margin-bottom: 20px;
}

.main .section-similar-services .section-similar-services-content .section-similar-services-content-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main .section-similar-services .section-similar-services-content .section-similar-services-text {
  color: var(--color-1);
  font-weight: 400;
  font-size: 1.25rem;
}

@media (max-width: 1480px) {
  .main .section-developer-web .left-content-menu {
    left: -320px;
    top: 10px;
    border-radius: 0 6px 6px 0;
    -webkit-box-shadow: 0px 0px 20px rgba(15, 65, 86, 0.2);
            box-shadow: 0px 0px 20px rgba(15, 65, 86, 0.2);
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
  .main .section-developer-web .left-content-menu.open-left-menu .left-content-action {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .section-developer-web .left-content-menu .left-content-action {
    position: absolute;
    margin: 0;
    top: 0;
    left: 100%;
    padding: 8px;
    border-radius: 0 6px 6px 0;
    -webkit-box-shadow: 8px 0px 8px rgba(15, 65, 86, 0.2);
            box-shadow: 8px 0px 8px rgba(15, 65, 86, 0.2);
  }
  .main .section-developer-web .left-content-menu .left-content-action .left-content-action-item.btn-action {
    display: inline-block;
  }
  .main .section-developer-web .section-developer-title {
    margin-top: 60px !important;
  }
}

@media (max-width: 850px) {
  .main .section-developer-web .section-developer-list,
  .main .section-developer-web .section-developer-text {
    width: 100% !important;
  }
  .main .section-structure-store .section-structure-store-title, .main .section-structure-store .section-structure-store-text {
    width: 100% !important;
    text-align: left !important;
  }
  .main .section-must-have .section-must-have-footer .section-must-have-footer-text {
    width: 100%;
  }
  .main .section-content-management .content-management-wrapper {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .main .section-developer-web .section-developer-title {
    width: 100% !important;
  }
  .main .section-must-have .section-must-have-footer .section-must-have-footer-text {
    text-align: left;
  }
  .main .section-contact-us .section-contact-us-phone {
    font-size: 2.75rem;
  }
}

@media (max-width: 420px) {
  .main .section-developer-web .left-content-menu.open-left-menu {
    border-bottom-right-radius: 0;
    width: 100%;
  }
  .main .section-developer-web .left-content-menu.open-left-menu .left-content-action {
    left: initial;
    margin: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    right: 0;
    top: 100%;
    -webkit-box-shadow: 0px 8px 8px rgba(15, 65, 86, 0.2);
            box-shadow: 0px 8px 8px rgba(15, 65, 86, 0.2);
    border-radius: 0 0 6px 6px;
  }
  .main .section-contact-us .section-contact-us-phone {
    font-size: 2rem;
  }
}

.footer-main .footer-main-img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.nice-select {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px #e8e8e8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  height: 42px;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  width: auto;
}

.nice-select:hover {
  border-color: #dbdbdb;
}

.nice-select:active, .nice-select.open, .nice-select:focus {
  border-color: #999;
}

.nice-select:after {
  border-bottom: 2px solid #999;
  border-right: 2px solid #999;
  content: '';
  display: block;
  height: 5px;
  margin-top: -4px;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform-origin: 66% 66%;
          transform-origin: 66% 66%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  width: 5px;
}

.nice-select.open:after {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.nice-select.open .list {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale(1) translateY(0);
          transform: scale(1) translateY(0);
}

.nice-select.disabled {
  border-color: #ededed;
  color: #999;
  pointer-events: none;
}

.nice-select.disabled:after {
  border-color: #cccccc;
}

.nice-select.wide {
  width: 100%;
}

.nice-select.wide .list {
  left: 0 !important;
  right: 0 !important;
}

.nice-select.right {
  float: right;
}

.nice-select.right .list {
  left: auto;
  right: 0;
}

.nice-select.small {
  font-size: 12px;
  height: 36px;
  line-height: 34px;
}

.nice-select.small:after {
  height: 4px;
  width: 4px;
}

.nice-select.small .option {
  line-height: 34px;
  min-height: 34px;
}

.nice-select .list {
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
          box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 4px;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  -webkit-transform: scale(0.75) translateY(-21px);
          transform: scale(0.75) translateY(-21px);
  -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  z-index: 9;
}

.nice-select .list:hover .option:not(:hover) {
  background-color: transparent !important;
}

.nice-select .option {
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  list-style: none;
  min-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  text-align: left;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
  background-color: #f6f6f6;
}

.nice-select .option.selected {
  font-weight: bold;
}

.nice-select .option.disabled {
  background-color: transparent;
  color: #999;
  cursor: default;
}

.no-csspointerevents .nice-select .list {
  display: none;
}

.no-csspointerevents .nice-select.open .list {
  display: block;
}

body {
  font-family: var(--font_family);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

button {
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button, path, rect, input, a, svg {
  -webkit-transition: .2s;
  transition: .2s;
}
/*# sourceMappingURL=style.css.map */