@import "_variables.scss";
@import "_functions-mixin.scss";
@import "_asset.scss";
@import "_navbar.scss";
@import "_main.scss";
@import "_footer.scss";
@import "_remarketing.scss";
@import "_develop.scss";
@import "_packing-label.scss";
@import "_style-company.scss";

body {
    font-family: $font_family;
    box-sizing: border-box;
}

button {
    border: none;
    background-color: transparent;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button, path, rect, input, a, svg {
    transition: .2s;
}