:root {
  --font_family: 'Roboto', sans-serif;
  --font_family-1: 'Oswald', sans-serif;
  --color-1: #1a1b1e;
  --color-2: #0983b7;
  --color-3: #ffffff;
  --color-4: #078fc9;
  --color-5: #1a1a1a;
  --color-6: #2a2a2a;
  --color-7: #f7f7f7;
  --color-8: #0c9bd8;
  --color-9: #e7e7e7;
  --color-10: #eb0808;
  --color-11: #ebebeb;
  --color-12: #000000;
  --color-13: #2d2d2d;
  --color-14: #0f0f0f;
  --color-15: #585858;
  --color-16: #484848;
  --color-17: #282828;
  --color-18: #616161;
  --color-19: #e5e5e5;
  --color-20: #3f3f3f;
  --color-21: #1d1d1d;
  --color-22: #606060;
  --color-23: #191919;
  --color-24: #ededed;
  --color-25: #1a1a1a;
  --color-26: #b51313;
  --color-27: #111111;
  --color-28: #414141;
  --width-nav: 290px;
  --widthNav: 290px;
}

.navbar > .container-xxxl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: inherit;
      flex-wrap: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.container-content {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 1;
  border-collapse: initial;
}

.container-xxxl {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 1;
}

.container-left {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 1;
}

@media (min-width: 1780px) {
  .container-xxxl {
    max-width: 1720px;
  }
}

@media (min-width: 1260px) {
  .container-content {
    max-width: 1200px !important;
  }
}

@media (min-width: 1260px) {
  .container-left {
    max-width: calc(100% - var(--width-nav)) !important;
    margin-right: 0;
  }
}

.slick-initialized .slick-slide {
  display: table;
}

.col-md-7 {
  width: 100% !important;
}

@media (min-width: 768px) {
  .col-md-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 58.33333333% !important;
  }
}

.internal-download-action {
  padding-bottom: 30px;
}

.internal-download-action .download-action-link {
  color: #2a2a2a;
  font-weight: 500;
  font-size: 1.125rem;
  text-decoration: underline;
  -webkit-text-decoration-color: #0c9bd8;
          text-decoration-color: #0c9bd8;
  text-decoration-thickness: 4px;
  text-underline-position: under;
}

.internal-download-action .download-action-link:hover {
  text-decoration: none;
  background-color: #0c9bd8;
  color: #ffffff;
  padding: 6px;
}

.internal-download-action .download-action-link:active {
  text-decoration: underline;
  -webkit-text-decoration-color: #0c9bd8;
          text-decoration-color: #0c9bd8;
  text-decoration-thickness: 4px;
  text-underline-position: under;
  padding: 0;
  background-color: transparent;
  color: #2a2a2a;
}

.internal-optimization .internal-optimization-text-type3 {
  color: #2a2a2a;
  font-weight: 500;
  font-size: 1.125rem !important;
}

.internal-optimization .internal-type-price {
  color: #2a2a2a;
  font-weight: 400;
  font-size: 0.9375rem;
}

.internal-optimization .internal-type-price span {
  color: #2a2a2a;
  font-weight: 500;
  font-size: 1.1875rem;
  font-family: "Oswald", sans-serif;
}

.internal-optimization .internal-optimization-text-type4 {
  color: #2a2a2a;
  font-weight: 300;
  font-size: 0.8125rem;
  font-style: italic;
  padding-bottom: 40px;
  margin-top: 30px;
}

.internal-optimization .internal-optimization-text-type2-primary {
  color: #078fc9;
  font-weight: 500;
  font-size: 2.25rem;
}

.table-type-2 th {
  border: none !important;
  padding: 20px;
}

.table-type-2 td {
  border: none !important;
  border-left: 1px solid #f7f7f7 !important;
  padding: 20px;
  vertical-align: middle;
}

.table-type-2 td:first-child {
  border: none !important;
}

.table-type-2 td.table-section-divider {
  color: #1a1a1a;
  font-weight: 500;
  font-size: 1.125rem;
  background-color: #f7f7f7;
}

.table-type-2 td .section-tabel-text-optional {
  color: #2a2a2a;
  font-weight: 400;
  font-size: 0.875rem;
}

.table-type-2 td .section-tabel-price {
  color: #2a2a2a;
  font-weight: 500;
  font-size: 1.25rem;
}

.table-type-2 td .section-tabel-price .section-tabel-price-important {
  color: #eb0808;
}

.table-type-2 td .section-tabel-option-list {
  padding-left: 1rem;
}

.table-type-2 td .section-tabel-option-list .section-tabel-option-item {
  padding: 4px;
}

.slider-company-property {
  padding: 16px 0;
}

.slider-company-property .slider-company-property-name {
  color: rgba(87, 87, 87, 0.36);
  font-weight: 500;
  font-size: 0.9375rem;
  margin-bottom: 4px;
}

.slider-company-property .slider-company-property-description {
  color: #000000;
  font-weight: 400;
  font-size: 0.9375rem;
}

.slider-company-property .slider-company-property-description .slider-company-property-list .slider-company-property-item {
  padding: 4px 0;
  position: relative;
  padding-left: 16px;
}

.slider-company-property .slider-company-property-description .slider-company-property-list .slider-company-property-item::before {
  content: "";
  background-image: url(../images/icon/arrow_list.png);
  position: absolute;
  width: 10px;
  height: 10px;
  left: 0;
  top: 0.66rem;
}

.slider-content-bottom .slider-content-bottom-number {
  color: #2d2d2d;
  font-weight: 300;
  font-size: 2.375rem;
  font-family: "Oswald", sans-serif;
}

.slider-content-bottom .slider-content-bottom-text {
  color: #2d2d2d;
  font-weight: 500;
  font-size: 0.9375rem;
}

.slider-content-bottom .link-slider-wrapper {
  padding-top: 30px;
}

.slider-content-bottom .link-slider {
  color: #2a2a2a;
  font-weight: 500;
  font-size: 1.125rem;
  text-decoration: underline;
  -webkit-text-decoration-color: #0c9bd8;
          text-decoration-color: #0c9bd8;
  text-decoration-thickness: 4px;
  text-underline-position: under;
}

.slider-content-bottom .link-slider:hover {
  text-decoration: none;
  background-color: #0c9bd8;
  color: #ffffff;
  padding: 6px;
}

.slider-content-bottom .link-slider:active {
  text-decoration: underline;
  -webkit-text-decoration-color: #0c9bd8;
          text-decoration-color: #0c9bd8;
  text-decoration-thickness: 4px;
  text-underline-position: under;
  padding: 0;
  background-color: transparent;
  color: #2a2a2a;
}

.navbar-wrapper {
  position: fixed;
  height: 100vh;
  z-index: 200;
  -webkit-transition: .6s;
  transition: .6s;
}

.navbar-wrapper .navigation-panel {
  width: 290px;
  padding: 40px 20px;
  background-color: #1a1b1e;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar-wrapper .navigation-panel .navigation-list {
  margin: 20px 0;
  margin-top: 60px;
  overflow-y: auto;
}

.navbar-wrapper .navigation-panel .navigation-list .navigation-item {
  padding: 4px 0;
  padding-right: 4px;
}

.navbar-wrapper .navigation-panel .navigation-list .navigation-item .navigation-link {
  color: #ffffff;
  font-weight: 500;
  font-size: 0.8125rem;
  text-transform: uppercase;
  opacity: .8;
  padding: 6px 0;
}

.navbar-wrapper .navigation-panel .navigation-list .navigation-item .navigation-link.active {
  color: #0983b7;
  font-weight: 300;
}

.navbar-wrapper .navigation-panel .navigation-list .navigation-item .navigation-link:hover {
  opacity: .5;
}

.navbar-wrapper .navigation-panel .navigation-manager {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto auto 0 0;
}

.navbar-wrapper .navigation-panel .navigation-manager .navigation-manager-photo {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  overflow: hidden;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.navbar-wrapper .navigation-panel .navigation-manager .navigation-manager-photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.navbar-wrapper .navigation-panel .navigation-manager .navigation-manager-info {
  margin-left: 20px;
}

.navbar-wrapper .navigation-panel .navigation-manager .navigation-manager-info .manager-name {
  color: #ffffff;
  font-weight: 400;
  font-size: 0.875rem;
}

.navbar-wrapper .navigation-panel .navigation-manager .navigation-manager-info .manager-phone a {
  color: #ffffff;
  font-weight: 300;
  font-size: 0.8125rem;
}

.navbar-wrapper .navigation-panel .navigation-manager .navigation-manager-info .manager-phone a:hover {
  opacity: .5;
}

.navbar-wrapper .navigation-panel .navigation-manager .navigation-manager-info .manager-mail a {
  color: #078fc9;
  font-weight: 300;
  font-size: 0.8125rem;
  text-decoration: underline;
}

.navbar-wrapper .navigation-panel .navigation-manager .navigation-manager-info .manager-mail a:hover {
  opacity: .5;
}

.navbar-wrapper .toggle-nav {
  position: absolute;
  background-color: #1a1b1e;
  padding: 10px;
  left: 290px;
  top: 30px;
  border-radius: 0 6px 6px 0;
  display: none;
}

.navbar-wrapper .toggle-nav:hover path {
  fill: #0c9bd8;
}

.navbar-wrapper.opened {
  left: 0;
}

.navbar-wrapper.opened .toggle-nav svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (max-width: 1259px) {
  .navbar-wrapper {
    left: -290px;
  }
  .navbar-wrapper.opened {
    width: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.12);
  }
  .navbar-wrapper .toggle-nav {
    display: inline-block !important;
  }
}

@media (max-width: 380px) {
  .navbar-wrapper.opened .toggle-nav {
    left: 236px;
    border-radius: 0 6px 6px 0;
  }
}

.main-content .internal-optimization {
  padding: 40px 0;
}

.main-content .internal-optimization .internal-optimization-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.main-content .internal-optimization .internal-optimization-info .number-optimization {
  background-color: #1a1b1e;
  padding: 4px 12px;
  color: #ffffff;
  font-weight: 400;
  font-size: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.main-content .internal-optimization .internal-optimization-info .internal-optimization-text-type1 {
  color: #1a1a1a;
  font-weight: 500;
  font-size: 1.125rem;
  margin-top: 10px;
}

.main-content .internal-optimization .internal-optimization-info .internal-optimization-text-type2 {
  color: #2a2a2a;
  font-weight: 500;
  font-size: 2.25rem;
  margin-top: 50px;
  line-height: 2.75rem;
}

.main-content .internal-optimization .internal-optimization-info .internal-optimization-bottom {
  margin: auto auto 0 0;
  padding-top: 20px;
}

.main-content .internal-optimization .internal-optimization-info .internal-optimization-bottom .internal-optimization-text-type3 {
  color: #2a2a2a;
  font-weight: 500;
  font-size: 1rem;
}

.main-content .internal-optimization .internal-optimization-info .internal-optimization-bottom .internal-optimization-text-type4 {
  color: #2a2a2a;
  font-weight: 300;
  font-size: 1rem;
  font-style: italic;
  padding-bottom: 40px;
  margin-top: 30px;
}

.main-content .internal-optimization .internal-optimization-card {
  -webkit-box-shadow: 0px 0px 32px 10px rgba(0, 0, 1, 0.02);
          box-shadow: 0px 0px 32px 10px rgba(0, 0, 1, 0.02);
  padding: 20px;
  border-radius: 10px;
}

.main-content .internal-optimization .internal-optimization-card .internal-optimization-card-scroll {
  max-height: 616px;
  overflow-y: auto;
}

.main-content .internal-optimization .internal-optimization-card .internal-optimization-card-scroll::-webkit-scrollbar {
  width: 2px;
}

.main-content .internal-optimization .internal-optimization-card .internal-optimization-card-scroll::-webkit-scrollbar-track {
  background: #e7e7e7;
}

.main-content .internal-optimization .internal-optimization-card .internal-optimization-card-scroll::-webkit-scrollbar-thumb {
  background: #0c9bd8;
}

.main-content .internal-optimization .internal-optimization-card .internal-optimization-card-scroll::-webkit-scrollbar-thumb:hover {
  background: #078fc9;
}

.main-content .internal-optimization .internal-optimization-card .internal-optimization-text-bold1 {
  color: #2a2a2a;
  font-weight: 500;
  font-size: 1.125rem;
}

.main-content .internal-optimization .internal-optimization-card .internal-optimization-text-bold1 .text-color {
  color: #0c9bd8;
}

.main-content .internal-optimization .internal-optimization-card .internal-optimization-text-small {
  color: #2a2a2a;
  font-weight: 400;
  font-size: 0.875rem;
}

.main-content .internal-optimization .internal-optimization-card .internal-optimization-card-header {
  background-color: #f7f7f7;
  padding: 20px;
}

.main-content .internal-optimization .internal-optimization-card .internal-optimization-card-header .internal-optimization-text-bold1 {
  margin-bottom: 20px;
}

.main-content .internal-optimization .internal-optimization-card .internal-optimization-card-header .internal-optimization-text-list {
  color: #2a2a2a;
  font-weight: 400;
  font-size: 0.9375rem;
}

.main-content .internal-optimization .internal-optimization-card .internal-optimization-card-header .internal-optimization-text-list span {
  font-weight: 500;
}

.main-content .internal-optimization .internal-optimization-card .internal-optimization-card-header .internal-optimization-title-list {
  color: #1a1a1a;
  font-weight: 500;
  font-size: 0.875rem;
  margin-top: 10px;
}

.main-content .internal-optimization .internal-optimization-card .internal-optimization-card-header .internal-optimization-list li {
  position: relative;
  padding-left: 0.8rem;
}

.main-content .internal-optimization .internal-optimization-card .internal-optimization-card-header .internal-optimization-list li::before {
  content: "-";
  position: absolute;
  left: 0;
}

.main-content .internal-optimization .internal-optimization-card .internal-optimization-card-body {
  overflow-x: auto;
}

.main-content .internal-optimization .internal-optimization-card .internal-optimization-card-body::-webkit-scrollbar {
  height: 8px;
}

.main-content .internal-optimization .internal-optimization-card .internal-optimization-card-body::-webkit-scrollbar-track {
  background: #e7e7e7;
}

.main-content .internal-optimization .internal-optimization-card .internal-optimization-card-body::-webkit-scrollbar-thumb {
  background: #0c9bd8;
}

.main-content .internal-optimization .internal-optimization-card .internal-optimization-card-body::-webkit-scrollbar-thumb:hover {
  background: #078fc9;
}

.main-content .internal-optimization .internal-optimization-card .internal-optimization-card-body table {
  min-width: 560px;
  margin: 0;
}

.main-content .internal-optimization .internal-optimization-card .internal-optimization-card-body table thead th {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  vertical-align: baseline;
  border: 1px solid #e7e7e7;
  border-top: none;
}

.main-content .internal-optimization .internal-optimization-card .internal-optimization-card-body table thead th:first-child {
  text-align: left;
  border-left: none;
}

.main-content .internal-optimization .internal-optimization-card .internal-optimization-card-body table thead th:last-child {
  border-right: none;
}

.main-content .internal-optimization .internal-optimization-card .internal-optimization-card-body table thead .internal-optimization-info {
  color: #2a2a2a;
  font-weight: 400;
  font-size: 0.8125rem;
}

.main-content .internal-optimization .internal-optimization-card .internal-optimization-card-body table tbody {
  border: none;
}

.main-content .internal-optimization .internal-optimization-card .internal-optimization-card-body table tbody td {
  text-align: center;
  border: 1px solid #e7e7e7;
  padding-left: 20px;
  padding-right: 20px;
}

.main-content .internal-optimization .internal-optimization-card .internal-optimization-card-body table tbody td:first-child {
  width: 52%;
  text-align: left;
  border-left: none;
}

.main-content .internal-optimization .internal-optimization-card .internal-optimization-card-body table tbody td:last-child {
  border-right: none;
}

.main-content .internal-optimization .internal-optimization-card .internal-optimization-card-body table tbody td.internal-optimization-text-table {
  color: #2a2a2a;
  font-weight: 500;
  font-size: 1.125rem;
}

.main-content .internal-optimization .internal-optimization-card .internal-optimization-card-body table tbody tr:last-child td {
  border-bottom: none;
}

.main-content .internal-optimization .internal-optimization-card .internal-optimization-card-footer .internal-optimization-footer-primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #0c9bd8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 18px 0;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.25rem;
}

.main-content .internal-optimization .internal-optimization-card .internal-optimization-card-footer .internal-optimization-footer-primary .internal-optimization-footer-price {
  text-transform: uppercase;
  font-size: 1.5rem;
}

.main-content .internal-optimization .internal-optimization-card .internal-optimization-card-footer .internal-optimization-footer-primary > * {
  padding: 2px 20px;
}

.main-content .internal-optimization .internal-optimization-card .internal-optimization-card-footer .internal-optimization-footer-alert {
  padding: 0 20px;
  padding-top: 6px;
  color: #eb0808;
  font-weight: 300;
  font-size: 0.8125rem;
}

.main-content .optimization-site {
  background-color: #f7f7f7;
  padding: 70px 0;
}

.main-content .optimization-site .optimization-site-left .optimization-site-title {
  color: #2a2a2a;
  font-weight: 500;
  font-size: 2.25rem;
  margin-bottom: 30px;
}

.main-content .optimization-site .optimization-site-left .optimization-site-text-small {
  color: #2a2a2a;
  font-weight: 300;
  font-size: 0.875rem;
  margin-bottom: 30px;
}

.main-content .optimization-site .optimization-site-left .optimization-site-text-bold {
  color: #2a2a2a;
  font-weight: 500;
  font-size: 0.9375rem;
}

.main-content .optimization-site .optimization-site-right .optimization-site-right-top {
  padding: 20px 40px;
  background-color: #ffffff;
}

.main-content .optimization-site .optimization-site-right .optimization-site-right-top .optimization-site-right-title {
  color: #2a2a2a;
  font-weight: 500;
  font-size: 1.375rem;
}

.main-content .optimization-site .optimization-site-right .optimization-site-right-top .optimization-site-right-title-small {
  color: #2a2a2a;
  font-weight: 500;
  font-size: 0.9375rem;
}

.main-content .optimization-site .optimization-site-right .optimization-site-list {
  padding: 30px 40px;
}

.main-content .optimization-site .optimization-site-right .optimization-site-list .optimization-site-item {
  padding: 10px 0;
}

.main-content .optimization-site .optimization-site-right .optimization-site-list .optimization-site-item .optimization-site-item-title {
  color: #2a2a2a;
  font-weight: 500;
  font-size: 1.0625rem;
  margin-bottom: 8px;
}

.main-content .optimization-site .optimization-site-right .optimization-site-list .optimization-site-item .optimization-site-item-text {
  color: #2a2a2a;
  font-weight: 300;
  font-size: 0.875rem;
}

.main-content .partners-site {
  padding: 50px 0;
  border-bottom: 1px solid #ebebeb;
}

.main-content .partners-site .parters-site-wrapper {
  text-align: center;
}

.main-content .partners-site .parters-site-wrapper img {
  max-width: 100%;
}

.main-content .slider-content {
  padding: 50px 0;
  border-bottom: 1px solid #ebebeb;
}

.main-content .slider-content .slider-wrapper {
  position: relative;
}

.main-content .slider-content .slider-wrapper .btn-slider {
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: none;
}

.main-content .slider-content .slider-wrapper .btn-slider.btn-slider-prev {
  left: -80px;
}

.main-content .slider-content .slider-wrapper .btn-slider.btn-slider-next {
  right: -80px;
}

.main-content .slider-content .slider-wrapper .btn-slider:hover {
  opacity: .6;
}

.main-content .slider-content .slider-wrapper .slider-list .slider-item .slider-left .slider-company {
  color: #2a2a2a;
  font-weight: 500;
  font-size: 1.0625rem;
}

.main-content .slider-content .slider-wrapper .slider-list .slider-item .slider-left .slider-company-name {
  color: #2a2a2a;
  font-weight: 500;
  font-size: 2.5rem;
  margin-top: 4px;
  margin-bottom: 14px;
}

.main-content .slider-content .slider-wrapper .slider-list .slider-item .slider-left .slider-information {
  color: #000000;
  font-weight: 300;
  font-size: 0.9375rem;
}

.main-content .slider-content .slider-wrapper .slider-list .slider-item .slider-left .slider-center-info {
  margin-top: 10px;
}

.main-content .slider-content .slider-wrapper .slider-list .slider-item .slider-left .slider-center-info .slider-center-info-item {
  padding: 10px 0;
}

.main-content .slider-content .slider-wrapper .slider-list .slider-item .slider-left .slider-center-info .slider-center-info-item .slider-center-info-item-qty {
  color: #2d2d2d;
  font-weight: 400;
  font-size: 2.5625rem;
}

.main-content .slider-content .slider-wrapper .slider-list .slider-item .slider-left .slider-center-info .slider-center-info-item .slider-center-info-item-text {
  color: #ffffff;
  font-weight: 400;
  font-size: 0.9375rem;
  padding: 4px 8px;
  background-color: #0c9bd8;
  width: 60%;
}

.main-content .slider-content .slider-wrapper .slider-list .slider-item .slider-left .slider-list-property .slider-property-item {
  color: #000000;
  font-weight: 300;
  font-size: 0.875rem;
  padding: 4px 0;
  position: relative;
  padding-left: 22px;
}

.main-content .slider-content .slider-wrapper .slider-list .slider-item .slider-left .slider-list-property .slider-property-item::before {
  content: "";
  background-image: url(../images/icon/check.png);
  width: 12px;
  height: 100%;
  background-repeat: no-repeat;
  background-position-y: 0.5rem;
  position: absolute;
  left: 0;
}

.main-content .slider-content .slider-wrapper .slider-list .slider-item .slider-left .slider-list-property .slider-property-item.slider-property-item-primary {
  color: #000000;
  font-weight: 500;
  font-size: 1rem;
}

.main-content .slider-content .slider-wrapper .slider-list .slider-item .slider-right {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.main-content .slider-content .slider-wrapper .slider-list .slider-item .slider-right img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-content .project-team {
  padding: 50px 0;
}

.main-content .project-team .project-team-title {
  color: #2a2a2a;
  font-weight: 500;
  font-size: 2.25rem;
  text-align: center;
  margin-bottom: 0;
}

.main-content .project-team .project-team-sub-title {
  color: #2a2a2a;
  font-weight: 500;
  font-size: 0.9375rem;
  text-align: center;
  margin-bottom: 40px;
}

.main-content .project-team .project-team-card .project-team-card-header {
  position: relative;
}

.main-content .project-team .project-team-card .project-team-card-header > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-content .project-team .project-team-card .project-team-card-header .project-team-link {
  position: absolute;
  right: 16px;
  bottom: 16px;
}

.main-content .project-team .project-team-card .project-team-card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 16px;
  gap: 10px;
}

.main-content .project-team .project-team-card .project-team-card-body .project-team-card-avatar {
  width: 52px;
  height: 52px;
  border-radius: 100%;
  overflow: hidden;
}

.main-content .project-team .project-team-card .project-team-card-body .project-team-card-avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-content .project-team .project-team-card .project-team-card-body .project-team-card-detail .project-team-name {
  color: #0f0f0f;
  font-weight: 500;
  font-size: 1rem;
}

.main-content .project-team .project-team-card .project-team-card-body .project-team-card-detail .project-team-position {
  color: #585858;
  font-weight: 300;
  font-size: 0.875rem;
}

.main-content .section-trust {
  padding: 50px 0;
  background-color: #f7f7f7;
}

.main-content .section-trust .section-trust-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -6px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
}

.main-content .section-trust .section-trust-header > * {
  padding: 6px;
}

.main-content .section-trust .section-trust-header .section-trust-header-title {
  color: #2a2a2a;
  font-weight: 500;
  font-size: 1.625rem;
}

.main-content .section-trust .section-trust-header .section-trust-header-info .section-trust-header-info-top {
  color: #484848;
  font-weight: 500;
  font-size: 0.9375rem;
}

.main-content .section-trust .section-trust-header .section-trust-header-info .section-trust-header-info-top .info-top-percentage {
  color: #2a2a2a;
  font-weight: 500;
  font-size: 2rem;
}

.main-content .section-trust .section-trust-header .section-trust-header-info .section-trust-header-info-bottom {
  color: #ffffff;
  font-weight: 500;
  font-size: 0.8125rem;
  background-color: #0c9bd8;
  padding: 0 6px;
  text-align: center;
  text-transform: uppercase;
}

.main-content .section-trust .section-trust-card {
  padding: 14px;
  background-color: #ffffff;
}

.main-content .section-trust .section-trust-card .trust-card-header img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-content .section-trust .section-trust-card .trust-card-body {
  margin: 24px 0 16px 0;
}

.main-content .section-trust .section-trust-card .trust-card-body .trust-name {
  color: #282828;
  font-weight: 400;
  font-size: 1.1875rem;
}

.main-content .section-trust .section-trust-card .trust-card-body .trust-company {
  color: #616161;
  font-weight: 400;
  font-size: 0.9375rem;
}

.main-content .section-trust .section-trust-card .trust-card-footer .trust-text {
  color: #484848;
  font-weight: 300;
  font-size: 0.875rem;
}

.main-content .section-proud {
  padding: 50px 0;
}

.main-content .section-proud .section-proud-title {
  color: #2a2a2a;
  font-weight: 500;
  font-size: 1.625rem;
  margin-bottom: 30px;
}

.main-content .section-proud .section-proud-header {
  margin: 0 10px;
  padding: 10px;
  border: 1px solid #e5e5e5;
}

.main-content .section-proud .section-proud-header img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-content .section-proud .section-proud-body {
  padding: 20px;
  border-right: 1px solid #e5e5e5;
  height: 100%;
}

.main-content .section-proud .section-proud-body .section-proud-name {
  color: #2a2a2a;
  font-weight: 500;
  font-size: 0.9375rem;
}

.main-content .section-proud .section-proud-body .proud-list {
  padding: 20px 0;
}

.main-content .section-proud .section-proud-body .proud-list .proud-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 4px 0;
}

.main-content .section-proud .section-proud-body .proud-list .proud-item .proud-year {
  color: #ffffff;
  font-weight: 300;
  font-size: 0.875rem;
  padding: 0 6px;
  background-color: #0c9bd8;
  margin-right: 10px;
}

.main-content .section-proud .section-proud-body .proud-list .proud-item .proud-type {
  color: #484848;
  font-weight: 300;
  font-size: 0.875rem;
}

.main-content .section-services-freq {
  padding: 50px 0;
  background-color: #f7f7f7;
}

.main-content .section-services-freq .section-services-title {
  color: #2a2a2a;
  font-weight: 500;
  font-size: 1.625rem;
  text-align: center;
  margin-bottom: 30px;
}

.main-content .section-services-freq .services-freq-card {
  -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 1, 0.18);
          box-shadow: 0px 0px 17px 0px rgba(0, 0, 1, 0.18);
  height: 100%;
}

.main-content .section-services-freq .services-freq-card .services-freq-price {
  padding: 20px 10px 14px 10px;
  color: #3f3f3f;
  font-weight: 500;
  font-size: 1.75rem;
  text-align: right;
}

.main-content .section-services-freq .services-freq-card .services-freq-price span {
  font-size: 2.25rem;
}

.main-content .section-services-freq .services-freq-card .services-freq-type {
  padding: 14px 10px;
  color: #3f3f3f;
  font-weight: 500;
  font-size: 0.875rem;
  text-align: center;
  text-transform: uppercase;
}

.main-content .section-services-freq .services-freq-card .services-freq-text-wrapper {
  padding: 20px 10px;
}

.main-content .section-services-freq .services-freq-card .services-freq-text-wrapper.wrapper-copyright > * {
  margin: 0;
}

.main-content .section-services-freq .services-freq-card .services-freq-text-wrapper .services-freq-text-small {
  color: #484848;
  font-weight: 300;
  font-size: 0.875rem;
}

.main-content .section-services-freq .services-freq-card .services-freq-text-wrapper .services-freq-text-bold {
  color: #484848;
  font-weight: 400;
  font-size: 0.875rem;
  margin-bottom: 0;
}

.main-content .section-services-freq .services-freq-card .services-freq-text-wrapper .services-freq-text-bold .text-samll {
  color: #484848;
  font-weight: 300;
  font-size: 0.875rem;
}

.main-content > section {
  overflow: hidden;
}

.main-content > section:last-child {
  padding-bottom: 160px;
}

@media (max-width: 1199px) {
  .main-content .slider-content .slider-right {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
            justify-content: flex-end !important;
    opacity: .5;
    left: -12px;
  }
}

.footer-fixed {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #0c9bd8;
  -webkit-box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.03);
  position: fixed;
  bottom: 0;
  right: 0;
}

.footer-fixed .footer-title {
  color: #ffffff;
  font-weight: 400;
  font-size: 0.9375rem;
  text-align: center;
}

.footer-fixed .footer-time {
  color: #ffffff;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
}

.remarketing-section .internal-optimization .internal-optimization-bottom .internal-optimization-text-type3 {
  font-size: 1.125rem !important;
}

.remarketing-section .internal-optimization .internal-optimization-bottom .internal-type-price {
  color: #2a2a2a;
  font-weight: 400;
  font-size: 0.9375rem;
}

.remarketing-section .internal-optimization .internal-optimization-bottom .internal-type-price span {
  color: #2a2a2a;
  font-weight: 500;
  font-size: 1.1875rem;
  font-family: "Oswald", sans-serif;
}

.remarketing-section .internal-optimization .internal-optimization-bottom .internal-optimization-text-type4 {
  font-size: 0.8125rem !important;
}

.remarketing-section .internal-optimization .internal-optimization-card .internal-optimization-card-header table td {
  text-align: left !important;
}

.remarketing-section .internal-optimization .internal-optimization-card .internal-optimization-card-header .remarketing-header-title {
  color: #1a1a1a;
  font-weight: 500;
  font-size: 1.125rem;
}

.remarketing-section .internal-optimization .internal-optimization-card .internal-optimization-card-header .remarketing-header-percent {
  color: #2a2a2a;
  font-weight: 400;
  font-size: 2.25rem;
  font-family: "Oswald", sans-serif;
}

.remarketing-section .internal-optimization .internal-optimization-card .internal-optimization-card-header .remarketing-comparation-wrapper {
  padding-bottom: 16px;
}

.remarketing-section .internal-optimization .internal-optimization-card .internal-optimization-card-header .remarketing-comparation-wrapper .remarketing-comparation-link {
  color: #078fc9;
  font-weight: 300;
  font-size: 0.875rem;
  text-decoration: underline;
  text-underline-position: under;
}

.remarketing-section .internal-optimization .internal-optimization-card .internal-optimization-card-header .remarketing-comparation-wrapper .remarketing-comparation-link:hover {
  text-decoration: none;
  color: #2a2a2a;
}

.remarketing-section .internal-optimization .internal-optimization-card .internal-optimization-card-header .remarketing-list-type .remarketing-item-type {
  color: #1d1d1d;
  font-weight: 400;
  font-size: 0.875rem;
  position: relative;
  padding-left: 10px;
}

.remarketing-section .internal-optimization .internal-optimization-card .internal-optimization-card-header .remarketing-list-type .remarketing-item-type:before {
  content: "-";
  position: absolute;
  left: 0;
}

.remarketing-section .internal-optimization .internal-optimization-card .internal-optimization-card-body table {
  border-bottom: 1px solid #f7f7f7;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.remarketing-section .internal-optimization .internal-optimization-card .internal-optimization-card-body table:last-child {
  border-bottom: none;
}

.remarketing-section .internal-optimization .internal-optimization-card .internal-optimization-card-body table td {
  text-align: left !important;
  border: none !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

.remarketing-section .internal-optimization .internal-optimization-card .internal-optimization-card-body table tr {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.remarketing-section .internal-optimization .internal-optimization-card .internal-optimization-card-body .remarketing-text-bold1 {
  color: #000000;
  font-weight: 500;
  font-size: 1rem;
}

.remarketing-section .internal-optimization .internal-optimization-card .internal-optimization-card-body .remarketing-text-bold2-price {
  color: #2a2a2a;
  font-weight: 500;
  font-size: 1.5rem;
}

.remarketing-section .internal-optimization .internal-optimization-card .internal-optimization-card-body .remarketing-text-bold2-price .remarketing-text-bold2-price-comment {
  font-size: 0.875rem;
}

.remarketing-section .internal-optimization .internal-optimization-card .internal-optimization-card-body .remarketing-text-bold2-price .remarketing-text-work {
  font-size: 0.9375rem;
}

.remarketing-section .internal-optimization .internal-optimization-card .internal-optimization-card-body .remarketing-text-small {
  color: #606060;
  font-weight: 300;
  font-size: 0.875rem;
}

.remarketing-section .remarketing-type {
  padding: 50px 0;
  background-color: #f7f7f7;
}

.remarketing-section .remarketing-type .remarketing-type-top-text {
  color: #191919;
  font-weight: 400;
  font-size: 0.9375rem;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 40px;
  margin-bottom: 50px;
}

.remarketing-section .remarketing-type .remarketing-type-title {
  color: #2a2a2a;
  font-weight: 500;
  font-size: 1.25rem;
  margin-bottom: 28px;
}

.remarketing-section .remarketing-type .remarketing-type-bold1 {
  color: #000000;
  font-weight: 400;
  font-size: 0.9375rem;
}

.remarketing-section .remarketing-type .remarketing-type-for {
  padding: 20px 0;
}

.remarketing-section .remarketing-type .remarketing-type-for .remarketing-type-bold2 {
  color: #191919;
  font-weight: 500;
  font-size: 0.9375rem;
}

.remarketing-section .remarketing-type .remarketing-type-for .remarketing-type-small {
  color: #191919;
  font-weight: 300;
  font-size: 0.9375rem;
}

.remarketing-section .remarketing-type .remarketing-type-example {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -12px;
}

.remarketing-section .remarketing-type .remarketing-type-example > * {
  padding: 12px;
}

.remarketing-section .remarketing-type .remarketing-type-example .remarketing-type-example-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.remarketing-section .remarketing-type .remarketing-type-example .remarketing-type-example-img .remarketing-type-example-img-wrapper {
  border: 1px solid #ededed;
  max-width: 246px;
  margin: auto;
}

.remarketing-section .remarketing-type .remarketing-type-example .remarketing-type-example-img .remarketing-type-example-img-wrapper img {
  width: 100%;
  height: 100%;
}

.remarketing-section .remarketing-type .remarketing-type-example .remarketing-type-example-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.remarketing-section .remarketing-type .remarketing-type-example .remarketing-type-example-text .remarketing-type-example-text-norm {
  color: #1a1a1a;
  font-weight: 500;
  font-size: 0.9375rem;
}

.remarketing-section .remarketing-type .remarketing-type-example .remarketing-type-example-text .remarketing-type-example-text-norm span {
  color: #b51313;
}

.remarketing-section .remarketing-type .remarketing-type-example .remarketing-type-example-text .remarketing-type-example-text-danger {
  color: #b51313;
  font-weight: 500;
  font-size: 0.9375rem;
}

.remarketing-section .slider-content .slider-item-top-text {
  color: #2a2a2a;
  font-weight: 500;
  font-size: 1.0625rem;
}

.remarketing-section .slider-content .slider-item-title {
  color: #2a2a2a;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 2.625rem;
}

.remarketing-section .slider-content .slider-subject {
  padding-top: 50px;
}

.remarketing-section .slider-content .slider-subject .slider-subject-title {
  color: rgba(87, 87, 87, 0.36);
  font-weight: 500;
  font-size: 0.9375rem;
}

.remarketing-section .slider-content .slider-subject .slider-subject-text {
  color: #000000;
  font-weight: 400;
  font-size: 0.9375rem;
}

.remarketing-section .slider-content .slider-content {
  border-bottom: none;
}

.remarketing-section .slider-content .slider-content .slider-content-wrapper {
  -webkit-box-shadow: 0px 0px 32px 4px rgba(0, 0, 1, 0.04);
          box-shadow: 0px 0px 32px 4px rgba(0, 0, 1, 0.04);
  padding: 18px;
}

.remarketing-section .slider-content .slider-content .slider-content-wrapper .slider-img-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.remarketing-section .slider-content .slider-content .slider-content-wrapper .slider-img-wrapper img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.remarketing-section .slider-content .slider-content .slider-content-wrapper .table-remarketing-bottom {
  background-color: #f7f7f7;
}

.remarketing-section .slider-content .slider-content .slider-content-wrapper .table-remarketing-bottom td .slider-text-bottom-wrapper {
  padding: 10px;
}

.remarketing-section .slider-content .slider-content .slider-content-wrapper .table-remarketing-bottom td .slider-text-bottom-wrapper .slider-text-bottom-number {
  color: #111111;
  font-weight: 300;
  font-size: 3rem;
  font-family: "Oswald", sans-serif;
}

.remarketing-section .slider-content .slider-content .slider-content-wrapper .table-remarketing-bottom td .slider-text-bottom-wrapper .slider-text-bottom {
  color: #111111;
  font-weight: 400;
  font-size: 0.9375rem;
}

@media (max-width: 500px) {
  .remarketing-section .remarketing-type-example {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.develop-section .development-time {
  padding: 50px 0;
  background-color: #f7f7f7;
  overflow: auto;
}

.develop-section .development-time .development-time-title {
  color: #2a2a2a;
  font-weight: 500;
  font-size: 1.625rem;
  margin: 0;
}

.develop-section .development-time .development-time-info {
  text-align: right;
}

.develop-section .development-time .development-time-info .development-time-info-text {
  color: #414141;
  font-weight: 300;
  font-size: 0.8125rem;
}

.develop-section .development-time .development-time-info .development-time-days {
  color: #2a2a2a;
  font-weight: 500;
  font-size: 1.625rem;
}

.develop-section .development-time table {
  min-width: 680px;
}

.develop-section .development-time table:first-child {
  border-bottom: 1px solid #e5e5e5;
}

.develop-section .development-time table:first-child td {
  padding-bottom: 20px;
}

.develop-section .development-time table:last-child {
  margin-top: 50px;
}

.develop-section .development-time table:last-child tr:first-child .chart-design-wrapper .chart-design {
  border-right: none;
  border-left: none;
}

.develop-section .development-time table:last-child tr .chart-design-wrapper .chart-design:last-child {
  border-right: none;
}

.develop-section .development-time table:last-child tr:nth-child(1) .chart-design-wrapper .chart-design:nth-child(1)::before {
  content: "";
  width: 100%;
  background-color: #0c9bd8;
  position: absolute;
}

.develop-section .development-time table:last-child tr:nth-child(3) .chart-design-wrapper .chart-design:nth-child(2)::before {
  content: "";
  width: 60%;
  background-color: #0c9bd8;
  position: absolute;
}

.develop-section .development-time table:last-child tr:nth-child(4) .chart-design-wrapper .chart-design:nth-child(3)::before {
  content: "";
  background-color: #0c9bd8;
  position: absolute;
  left: -40%;
  width: 140%;
}

.develop-section .development-time table:last-child tr:nth-child(6) .chart-design-wrapper .chart-design:nth-child(4)::before {
  content: "";
  background-color: #0c9bd8;
  position: absolute;
  left: 0;
  width: 200%;
}

.develop-section .development-time table:last-child tr:nth-child(7) .chart-design-wrapper .chart-design:nth-child(6)::before {
  content: "";
  background-color: #0c9bd8;
  position: absolute;
  left: 0;
  width: 340%;
}

.develop-section .development-time table:last-child tr:nth-child(8) .chart-design-wrapper .chart-design:nth-child(9)::before {
  content: "";
  background-color: #0c9bd8;
  position: absolute;
  right: 0;
  width: 60%;
}

.develop-section .development-time table:last-child tr:nth-child(10) .chart-design-wrapper .chart-design:nth-child(10)::before {
  content: "";
  background-color: #0c9bd8;
  position: absolute;
  left: 0;
  width: 100%;
}

.develop-section .development-time table:last-child tr:nth-child(1) .chart-design-wrapper .chart-design:nth-child(1)::after {
  content: "";
  width: 100%;
  height: 32%;
  bottom: 0;
  left: 0px;
  border-right: 1px dashed #2aa859;
  position: absolute;
}

.develop-section .development-time table:last-child tr:nth-child(1) .chart-design-wrapper .chart-design:nth-child(3)::after {
  content: "";
  width: 100%;
  height: 32%;
  bottom: 0;
  left: 1px;
  border-right: 1px dashed #2aa859;
  position: absolute;
}

.develop-section .development-time table:last-child tr:nth-child(1) .chart-design-wrapper .chart-design:nth-child(9)::after {
  content: "";
  width: 100%;
  height: 32%;
  bottom: 0;
  left: 1px;
  border-right: 1px dashed #2aa859;
  position: absolute;
}

.develop-section .development-time table:last-child tr:nth-child(10) .chart-design-wrapper .chart-design:nth-child(1)::after {
  content: "";
  width: 100%;
  height: 32%;
  bottom: -32%;
  left: 1px;
  border-right: 1px dashed #2aa859;
  position: absolute;
}

.develop-section .development-time table:last-child tr:nth-child(10) .chart-design-wrapper .chart-design:nth-child(3)::after {
  content: "";
  width: 100%;
  height: 32%;
  bottom: -32%;
  left: 2px;
  border-right: 1px dashed #2aa859;
  position: absolute;
}

.develop-section .development-time table:last-child tr:nth-child(10) .chart-design-wrapper .chart-design:nth-child(9)::after {
  content: "";
  width: 100%;
  height: 32%;
  bottom: -32%;
  left: 2px;
  border-right: 1px dashed #2aa859;
  position: absolute;
}

.develop-section .development-time .development-time-progress-item {
  color: #2a2a2a;
  font-weight: 500;
  font-size: 0.9375rem;
  padding: 6px 0;
}

.develop-section .development-time .chart-design-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.develop-section .development-time .chart-design-wrapper .chart-design {
  width: calc(92% / 8);
  border-bottom: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  height: 106%;
  position: relative;
}

.develop-section .development-time .chart-design-wrapper .chart-design:first-child {
  width: 4%;
  border-right: 1px dashed #2aa859;
}

.develop-section .development-time .chart-design-wrapper .chart-design:last-child {
  width: 4%;
  border-left: 1px dashed #2aa859;
}

.develop-section .development-time .chart-design-wrapper .chart-design:nth-child(4) {
  border-left: 1px dashed #2aa859;
}

.develop-section .development-time .chart-design-wrapper .chart-design::before {
  height: 4px;
  bottom: 0;
  z-index: 1;
}

.develop-section .development-time .point-chart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
  color: #2a2a2a;
  font-weight: 400;
  font-size: 0.8125rem;
}

.develop-section .development-time .point-chart .point-chart-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.develop-section .development-time .point-chart .point-chart-wrapper:first-child .point-chart-info::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: #0c9bd8;
  border-radius: 100%;
  margin-right: 6px;
}

.develop-section .development-time .point-chart .point-chart-wrapper:last-child .point-chart-info::after {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: #0c9bd8;
  border-radius: 100%;
  margin-left: 6px;
}

.develop-section .development-time .chart-text-bottom-alert {
  color: #eb0808;
  font-weight: 300;
  font-size: 0.8125rem;
  padding-top: 20px;
}

.develop-section .slider-content-work .slider-work-title {
  color: #2a2a2a;
  font-weight: 500;
  font-size: 1.625rem;
}

.develop-section .slider-content-work .table-top-slider {
  width: 100%;
  background-color: #f7f7f7;
  margin-top: 40px;
}

.develop-section .slider-content-work .table-top-slider .table-top-slider-content {
  padding-left: 20px;
}

.develop-section .slider-content-work .table-top-slider .table-top-slider-content .table-top-slider-number {
  color: #2a2a2a;
  font-weight: 500;
  font-size: 1.75rem;
}

.develop-section .slider-content-work .table-top-slider .table-top-slider-content .table-top-slider-text {
  color: #2a2a2a;
  font-weight: 400;
  font-size: 0.875rem;
}

.develop-section .slider-content-work .table-bottom-slider {
  width: 100%;
  margin-top: 40px;
}

.develop-section .slider-content-work .table-bottom-slider .table-bottom-wrapper-content {
  -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 1, 0.05);
          box-shadow: 0px 0px 17px 0px rgba(0, 0, 1, 0.05);
  padding: 20px;
}

.develop-section .slider-content-work .table-bottom-slider .table-bottom-wrapper-content .table-bottom-title {
  color: #000000;
  font-weight: 500;
  font-size: 1.875rem;
}

.develop-section .slider-content-work .table-bottom-slider .table-bottom-wrapper-content .table-bottom-sub_title {
  color: #ffffff;
  font-weight: 400;
  font-size: 1rem;
  background-color: #0c9bd8;
  padding: 4px 10px;
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.develop-section .slider-content-work .table-bottom-slider .table-bottom-wrapper-content .table-bottom-img-wrapper {
  margin-top: 24px;
}

.develop-section .slider-content-work .table-bottom-slider .table-bottom-wrapper-content .table-bottom-img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.develop-section .partners-site > * {
  margin: 20px auto;
}

.packing-label-section .internal-optimization-card .packing-label-top-labels .packing-label-top-item {
  background-color: #f7f7f7;
  padding: 10px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.packing-label-section .internal-optimization-card .packing-label-top-labels .packing-label-top-item > * {
  padding: 10px;
}

.packing-label-section .internal-optimization-card .packing-label-top-labels .packing-label-top-item .packing-label-top-title {
  color: #1a1a1a;
  font-weight: 500;
  font-size: 1.125rem;
  margin-bottom: 20px;
}

.packing-label-section .internal-optimization-card .packing-label-top-labels .packing-label-top-item .packing-label-top-sub_title {
  color: #606060;
  font-weight: 300;
  font-size: 0.875rem;
}

.packing-label-section .internal-optimization-card .packing-label-top-labels .packing-label-top-item .packing-label-top-sub_text {
  color: #1d1d1d;
  font-weight: 400;
  font-size: 0.875rem;
}

.packing-label-section .internal-optimization-card .packing-label-top-labels .packing-label-top-item .packing-label-top-right-price {
  color: #2a2a2a;
  font-weight: 400;
  font-size: 2rem;
}

.packing-label-section .internal-optimization-card .packing-label-top-labels .packing-label-top-item .packing-label-top-right-price span {
  font-size: 1.5rem;
}

.packing-label-section .internal-optimization-card .packing-list-card {
  padding: 20px;
}

.packing-label-section .internal-optimization-card .packing-list-card .packing-list-card-wrapper .packing-list-card-name {
  color: #000000;
  font-weight: 500;
  font-size: 0.9375rem;
}

.packing-label-section .internal-optimization-card .packing-list-card .packing-list-card-wrapper .packing-list-card-orders {
  color: #606060;
  font-weight: 300;
  font-size: 0.875rem;
  padding-left: 1rem;
}

.packing-label-section .internal-optimization-card .packing-list-card .packing-list-card-wrapper .packing-list-card-orders > * {
  padding: 2px 0;
}

.packing-label-section .internal-optimization-card .internal-optimization-footer-alert {
  font-weight: 500 !important;
}

.packing-label-section .packing-label-files {
  padding: 50px 0;
  background-color: #f7f7f7;
}

.packing-label-section .packing-label-files .packing-label-files-title {
  color: #2a2a2a;
  font-weight: 500;
  font-size: 1.625rem;
  text-align: center;
  margin-bottom: 30px;
}

.packing-label-section .packing-label-files .packing-label-files-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px;
}

.packing-label-section .packing-label-files .packing-label-files-content > * {
  padding: 0 10px;
}

.packing-label-section .packing-label-files .packing-label-files-content .packing-label-files-img img {
  width: 64px;
  height: 64px;
}

.packing-label-section .packing-label-files .packing-label-files-content .packing-label-files-text .packing-label-files-bold {
  color: #2a2a2a;
  font-weight: 500;
  font-size: 1.125rem;
}

.packing-label-section .packing-label-files .packing-label-files-content .packing-label-files-text .packing-label-files-small {
  color: #2a2a2a;
  font-weight: 400;
  font-size: 0.9375rem;
}

.packing-label-section .packing-label-files .packing-label-files-content .packing-label-files-text .packing-label-files-text-top {
  padding-bottom: 30px;
}

.packing-label-section .slider-ex-work #sliderExWork {
  margin: 0 -4px;
}

.packing-label-section .slider-ex-work .slider-item .slider-image-wrapper {
  padding: 0 4px;
}

.packing-label-section .slider-ex-work .slider-item .slider-image-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.packing-label-section .slider-ex-work .slider-ex-work-title {
  color: #2a2a2a;
  font-weight: 500;
  font-size: 1.625rem;
  margin-bottom: 30px;
}

.style-company .internal-optimization .section-tabel-text-bold {
  color: #000000;
  font-weight: 500;
  font-size: 0.9375rem;
}

.style-company .internal-optimization .section-tabel-text-small {
  color: #606060;
  font-weight: 300;
  font-size: 0.875rem;
}

.style-company .internal-optimization .style-company-text-small-important {
  color: #eb0808;
  font-weight: 300;
  font-size: 0.875rem;
}

.style-company .internal-optimization .style-company-text-small-info {
  color: #2a2a2a;
  font-weight: 300;
  font-size: 0.875rem;
}

.style-company .internal-optimization .table td {
  border: none !important;
  padding: 6px 20px;
  text-align: left !important;
  vertical-align: top !important;
}

.style-company .internal-optimization .table td.table-section-divider {
  padding: 20px;
}

.style-company .internal-optimization .table td:first-child {
  width: 64% !important;
}

.style-company .slider-content .style-company-slide-list .style-company-slide-item {
  padding: 4px 0;
  position: relative;
  padding-left: 16px;
}

.style-company .slider-content .style-company-slide-list .style-company-slide-item::before {
  content: "";
  background-image: url(../images/icon/arrow_list.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 10px;
  height: 8px;
  left: 0;
  top: 0.625rem;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button, path, rect, input, a, svg {
  -webkit-transition: .2s;
  transition: .2s;
}
/*# sourceMappingURL=style.css.map */