.ticket-print {
    padding: 30px 0 90px 0;
    .print-header {
        background: $bg-color;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        border-radius: 10px 10px 0 0;
        &>* {
            padding: 20px 26px;
        }
        .ticket-number {
            font-weight: 500;
        }
    }

    .print-row {
        margin: 10px 0;
        &.row-primary {
            .print-row-header {
                background-color: #0D47DD;
            }
            border: 1px solid #051C71;
        }
        &.row-secondary {
            .print-row-header {
                background-color: $secondary-color-text;
            }
            border: 1px solid $secondary-color-text;
        }
        .print-row-header {
            padding: 6px 26px;
            @include text($primary-color-text, 500, 20)
        }
        .print-row-body {
            padding: 50px 26px;
            .print-col-wrapper {
                .print-col-key {
                    @include text(#3F3F3F, 400, 16);
                }
                .print-col-value {
                    @include text($color-dark, 500, 18);
                }
            }

            .flight-itinerary {
                .itinerary-bold {
                    @include text($color_5, 500, 18);
                    line-height: remTransform(22);
                }
                .itinerary-small {
                    @include text(#B0B0B0, 500, 16);
                    line-height: remTransform(22);
                }
                .itinerary-type {
                    @include text($color-dark, 500, 26);
                    margin-bottom: 12px;
                }
                .itinerary-time {
                    @include text($color_5, 500, 18);
                    padding: 10px 0;
                    padding-top: 4px;
                    background-color: $color_7;
                    border-top: 1px dashed $primary-color;
                    border-bottom: 1px dashed $primary-color;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    &>* {
                        padding: 0 16px;
                        padding-top: 6px;
                    }
                }
                .itinerary-row {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    padding: 30px 0;
                    .itinerary-col-company {
                        width: 220px;
                        flex: 0 0 auto;
                        display: flex;
                        flex-wrap: wrap;
                        margin: 0 -6px;
                        align-items: center;
                        .img-company {
                            width: 66px;
                            height: 66px;
                            border-radius: 100%;
                            overflow: hidden;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        .company-detail>* {
                            line-height: remTransform(28);
                        }
                        &>* {
                            padding: 6px;
                        }
                    }
                    .itinerary-col-points {
                        width: calc(100% - 192px);
                        display: flex;
                        margin: 0 -8px;
                        &>*{
                            padding: 8px;
                        }
                        .itinerary-hours {
                            padding: 6px 12px;
                            background-color: #E2E6F1;
                            border-radius: 6px;
                            white-space: nowrap;
                        }
                        .itinerary-points {
                            padding: 6px 12px;
                        }
                        .divider {
                            width: 66px;
                            position: relative;
                            margin: 0 8px;
                            &::before {
                                content: "";
                                display: inline-block;
                                height: 2px;
                                width: 100%;
                                position: absolute;
                                left: 0;
                                top: 25px;
                                background-color: #E2E6F1;
                            }
                        }
                    }
                }
            }

            .ticket-rules {
                @include text($color-dark, 400, 16);
            }
        }
    }
}

@media (max-width: 767px) {
    .ticket-print {
        .itinerary-row {
            justify-content: center !important;
            &>*{
                width: 100% !important;
                justify-content: center !important;
            }
        }
    }
}

@media (max-width: 440px) {
    .ticket-print {
        .itinerary-row {
            .itinerary-col-points {
                flex-direction: column;
            }
        }
    }
}